/* CONTAINERS - Styles for top-level container widgets used in applications.
 *
 */

/* CHANGELOG
 * Written by Josh Grooms on 20151012
 */



/** TOP-LEVEL WINDOWS **/
.background,
GtkApplicationWindow,
GtkWindow
    background-color:       WindowColor;
    background-clip:        border-box;
    background-image:       none;

    &:backdrop
        background-color:   WindowColorDim;


/* CSD - Controls windows that undergo decoration on the client side. */
.csd
    @extends .background

    &.titlebar.header-bar
        bevel:              10px outset normal;

    /* WINDOW-FRAME - Controls the outer window frame of applications decorated on the client side.
     *
     */
    &.window-frame
        border-radius:      5px;
        shadow:             10px;
        // box-shadow:         2.5px 2.5px 10px ShadowColor;

    &.background, .background
        border-radius:      0px 0px 5px 5px;
        // box-shadow:         2.5px 2.5px 10px ShadowColor;
        padding:            5px;


/* POPUP - Controls the base windows used for context, drop-down, and combo-box menus. */
.popup,
.popup.background
    @extends .csd.window-frame;
    shallow-outset();
    border-radius:          5px;

/* TOOLTIP - Controls the appearance of tooltip messages. */
.tooltip,
.tooltip.background
    @extends .popup
