/** DEFAULTS **/
*,
GtkWidget,
.view,
GtkPaned,
.sidebar,
GtkPlacesSidebar,
.button,
.button.flat,
.primary-toolbar .button,
column-header .button,
GtkCalendar.button,
ECalendar .button,
GtkComboBox .button {
  -GtkWidget-background-color: transparent;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-link-color: #00c864;
  -GtkWidget-separator-height: 1;
  -GtkWidget-separator-width: 1;
  -GtkWidget-visited-link-color: #00c864;
  -GtkWidget-wide-separators: false;
  background-color: transparent;
  background-clip: padding-box;
  background-image: none;
  border: none;
  border-radius: 0em;
  box-shadow: none;
  color: #a2a2a2;
  outline-color: transparent;
  outline-offset: 0px;
}
*:backdrop,
GtkWidget:backdrop,
.view:backdrop,
GtkPaned:backdrop,
.sidebar:backdrop,
GtkPlacesSidebar:backdrop,
.button:backdrop,
.button.flat:backdrop,
.primary-toolbar .button:backdrop,
column-header .button:backdrop,
GtkCalendar.button:backdrop,
ECalendar .button:backdrop,
GtkComboBox .button:backdrop {
  color: #898989;
}
.background,
GtkApplicationWindow,
GtkWindow,
.csd {
  -GtkWindow-decoration-button-layout: "close:";
  -GtkWindow-resize-handle: 5;
  background-color: #4b4b4b;
  background-clip: border-box;
  background-image: none;
}
.background:backdrop,
GtkApplicationWindow:backdrop,
GtkWindow:backdrop,
.csd:backdrop {
  background-color: #3e3e3e;
}
.csd.window-frame {
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.5);
}
.csd.background,
.csd .background {
  border-bottom: 1px solid rgba(36,36,36,0.125);
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0em 0em 0.5em 0.5em;
  border-right: 1px solid rgba(36,36,36,0.125);
  padding: 0.5em;
  margin: 0em;
}
.csd .titlebar.header-bar {
  background-color: #4b4b4b;
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0.5em 0.5em 0em 0em;
  border-right: 1px solid rgba(36,36,36,0.125);
  border-top: 1px solid rgba(198,198,198,0.125);
  padding: 0.25em;
}
.csd .titlebar.header-bar:backdrop {
  background-color: #3e3e3e;
}
.dnd {
  border: 1px solid #00f;
  background-color: #00f;
  color: #0f0;
}
.popup,
.popup.background,
.tooltip,
.tooltip.background {
  background-clip: border-box;
  border-color: rgba(198,198,198,0.125);
  border-bottom-color: rgba(36,36,36,0.125);
  border-right-color: rgba(36,36,36,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(162,162,162,0.5);
  box-shadow: 0px 0px 0px 1px rgba(36,36,36,0.875), 3px 3px 5px rgba(0,0,0,0.5);
  background-color: #252525;
  border-radius: 0.5em;
  color: #c8c8c8;
}
.popover,
.popover.background {
  background-clip: border-box;
  border-color: #3d3d3d;
  border-bottom-color: #191919;
  border-right-color: #191919;
  border-style: solid;
  border-width: 1px;
  background-clip: border-box;
  background-color: #252525;
  border-radius: 0.5em;
  color: #c8c8c8;
}
.view,
.sidebar,
GtkPlacesSidebar {
  -GtkTreeView-expander-size: 10;
  -GtkTreeView-indent-expanders: true;
  -GtkTreeView-vertical-separator: 0;
  padding: 2px 5px 2px 5px;
}
.view .cell:selected,
.sidebar .cell:selected,
GtkPlacesSidebar .cell:selected,
.view row:selected,
.sidebar row:selected,
GtkPlacesSidebar row:selected {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  color: #323232;
}
.view .cell:selected:backdrop,
.sidebar .cell:selected:backdrop,
GtkPlacesSidebar .cell:selected:backdrop,
.view row:selected:backdrop,
.sidebar row:selected:backdrop,
GtkPlacesSidebar row:selected:backdrop {
  background-color: #a2a2a2;
  background-image: none;
  color: #323232;
}
GtkPaned {
  -GtkPaned-handle-size: 5;
}
NautilusWindow GtkPaned {
  -GtkPaned-handle-size: 1;
}
.sidebar,
GtkPlacesSidebar {
  font: bold;
  padding: 0px;
}
.sidebar .view,
GtkPlacesSidebar .view {
  padding: 5px;
}
GtkScrolledWindow {
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: true;
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.375);
  box-shadow: inset 10px 10px 10px -10px rgba(0,0,0,0.5);
  border-radius: 2.5px;
  padding: 1px;
}
.nautilus-canvas-item {
  border-radius: 5px;
}
.nautilus-canvas-item:active {
  background-color: #9632ff;
}
.nautilus-canvas-item:prelight,
.nautilus-canvas-item:selected {
  background-color: rgba(0,200,255,0.75);
  color: #323232;
}
.nautilus-canvas-item.nautilus-desktop,
.nautilus-canvas-item.nautilus-desktop:backdrop {
  color: #fff;
}
.rubberband {
  background-color: rgba(162,162,162,0.5);
  border: 1px solid #a2a2a2;
  border-radius: 2.5px;
}
.button {
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(198,198,198,0.25)), to(rgba(126,126,126,0.25)));
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.375);
  padding: 10px;
}
.button:active,
.button:checked {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
  color: #323232;
}
.button:active GtkBox GtkImage,
.button:checked GtkBox GtkImage,
.button:active GtkBox GtkLabel,
.button:checked GtkBox GtkLabel,
.button:active > GtkImage,
.button:checked > GtkImage,
.button:active > GtkLabel,
.button:checked > GtkLabel {
  color: #323232;
}
.button:active:backdrop,
.button:checked:backdrop,
.button:active:hover,
.button:checked:hover,
.button:active:prelight,
.button:checked:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#7e7e7e), to(#c6c6c6));
  color: #323232;
  color: #323232;
}
.button:active:backdrop GtkBox GtkImage,
.button:checked:backdrop GtkBox GtkImage,
.button:active:hover GtkBox GtkImage,
.button:checked:hover GtkBox GtkImage,
.button:active:prelight GtkBox GtkImage,
.button:checked:prelight GtkBox GtkImage,
.button:active:backdrop GtkBox GtkLabel,
.button:checked:backdrop GtkBox GtkLabel,
.button:active:hover GtkBox GtkLabel,
.button:checked:hover GtkBox GtkLabel,
.button:active:prelight GtkBox GtkLabel,
.button:checked:prelight GtkBox GtkLabel,
.button:active:backdrop > GtkImage,
.button:checked:backdrop > GtkImage,
.button:active:hover > GtkImage,
.button:checked:hover > GtkImage,
.button:active:prelight > GtkImage,
.button:checked:prelight > GtkImage,
.button:active:backdrop > GtkLabel,
.button:checked:backdrop > GtkLabel,
.button:active:hover > GtkLabel,
.button:checked:hover > GtkLabel,
.button:active:prelight > GtkLabel,
.button:checked:prelight > GtkLabel {
  color: #323232;
}
.button.flat,
.primary-toolbar .button,
column-header .button,
GtkCalendar.button,
ECalendar .button,
GtkComboBox .button {
  border-radius: 0.25em;
}
.button.flat:hover,
.primary-toolbar .button:hover,
column-header .button:hover,
GtkCalendar.button:hover,
ECalendar .button:hover,
GtkComboBox .button:hover,
.button.flat:prelight,
.primary-toolbar .button:prelight,
column-header .button:prelight,
GtkCalendar.button:prelight,
ECalendar .button:prelight,
GtkComboBox .button:prelight {
  background-color: #a2a2a2;
  background-image: none;
}
.button.flat.menuitem,
.primary-toolbar .button.menuitem,
column-header .button.menuitem,
GtkCalendar.button.menuitem,
ECalendar .button.menuitem,
GtkComboBox .button.menuitem {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #a2a2a2;
  padding: 1em;
}
.button.flat.menuitem GtkBox GtkImage,
.primary-toolbar .button.menuitem GtkBox GtkImage,
column-header .button.menuitem GtkBox GtkImage,
GtkCalendar.button.menuitem GtkBox GtkImage,
ECalendar .button.menuitem GtkBox GtkImage,
GtkComboBox .button.menuitem GtkBox GtkImage,
.button.flat.menuitem GtkBox GtkLabel,
.primary-toolbar .button.menuitem GtkBox GtkLabel,
column-header .button.menuitem GtkBox GtkLabel,
GtkCalendar.button.menuitem GtkBox GtkLabel,
ECalendar .button.menuitem GtkBox GtkLabel,
GtkComboBox .button.menuitem GtkBox GtkLabel,
.button.flat.menuitem > GtkImage,
.primary-toolbar .button.menuitem > GtkImage,
column-header .button.menuitem > GtkImage,
GtkCalendar.button.menuitem > GtkImage,
ECalendar .button.menuitem > GtkImage,
GtkComboBox .button.menuitem > GtkImage,
.button.flat.menuitem > GtkLabel,
.primary-toolbar .button.menuitem > GtkLabel,
column-header .button.menuitem > GtkLabel,
GtkCalendar.button.menuitem > GtkLabel,
ECalendar .button.menuitem > GtkLabel,
GtkComboBox .button.menuitem > GtkLabel {
  color: #a2a2a2;
}
.button.flat.menuitem:backdrop,
.primary-toolbar .button.menuitem:backdrop,
column-header .button.menuitem:backdrop,
GtkCalendar.button.menuitem:backdrop,
ECalendar .button.menuitem:backdrop,
GtkComboBox .button.menuitem:backdrop {
  color: #898989;
}
.button.flat.menuitem:backdrop GtkBox GtkImage,
.primary-toolbar .button.menuitem:backdrop GtkBox GtkImage,
column-header .button.menuitem:backdrop GtkBox GtkImage,
GtkCalendar.button.menuitem:backdrop GtkBox GtkImage,
ECalendar .button.menuitem:backdrop GtkBox GtkImage,
GtkComboBox .button.menuitem:backdrop GtkBox GtkImage,
.button.flat.menuitem:backdrop GtkBox GtkLabel,
.primary-toolbar .button.menuitem:backdrop GtkBox GtkLabel,
column-header .button.menuitem:backdrop GtkBox GtkLabel,
GtkCalendar.button.menuitem:backdrop GtkBox GtkLabel,
ECalendar .button.menuitem:backdrop GtkBox GtkLabel,
GtkComboBox .button.menuitem:backdrop GtkBox GtkLabel,
.button.flat.menuitem:backdrop > GtkImage,
.primary-toolbar .button.menuitem:backdrop > GtkImage,
column-header .button.menuitem:backdrop > GtkImage,
GtkCalendar.button.menuitem:backdrop > GtkImage,
ECalendar .button.menuitem:backdrop > GtkImage,
GtkComboBox .button.menuitem:backdrop > GtkImage,
.button.flat.menuitem:backdrop > GtkLabel,
.primary-toolbar .button.menuitem:backdrop > GtkLabel,
column-header .button.menuitem:backdrop > GtkLabel,
GtkCalendar.button.menuitem:backdrop > GtkLabel,
ECalendar .button.menuitem:backdrop > GtkLabel,
GtkComboBox .button.menuitem:backdrop > GtkLabel {
  color: #898989;
}
.button.flat.menuitem:hover,
.primary-toolbar .button.menuitem:hover,
column-header .button.menuitem:hover,
GtkCalendar.button.menuitem:hover,
ECalendar .button.menuitem:hover,
GtkComboBox .button.menuitem:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  color: #323232;
}
.button.flat.menuitem:hover GtkBox GtkImage,
.primary-toolbar .button.menuitem:hover GtkBox GtkImage,
column-header .button.menuitem:hover GtkBox GtkImage,
GtkCalendar.button.menuitem:hover GtkBox GtkImage,
ECalendar .button.menuitem:hover GtkBox GtkImage,
GtkComboBox .button.menuitem:hover GtkBox GtkImage,
.button.flat.menuitem:hover GtkBox GtkLabel,
.primary-toolbar .button.menuitem:hover GtkBox GtkLabel,
column-header .button.menuitem:hover GtkBox GtkLabel,
GtkCalendar.button.menuitem:hover GtkBox GtkLabel,
ECalendar .button.menuitem:hover GtkBox GtkLabel,
GtkComboBox .button.menuitem:hover GtkBox GtkLabel,
.button.flat.menuitem:hover > GtkImage,
.primary-toolbar .button.menuitem:hover > GtkImage,
column-header .button.menuitem:hover > GtkImage,
GtkCalendar.button.menuitem:hover > GtkImage,
ECalendar .button.menuitem:hover > GtkImage,
GtkComboBox .button.menuitem:hover > GtkImage,
.button.flat.menuitem:hover > GtkLabel,
.primary-toolbar .button.menuitem:hover > GtkLabel,
column-header .button.menuitem:hover > GtkLabel,
GtkCalendar.button.menuitem:hover > GtkLabel,
ECalendar .button.menuitem:hover > GtkLabel,
GtkComboBox .button.menuitem:hover > GtkLabel {
  color: #323232;
}
.button:focus {
  color: #3296ff;
}
.button:focus GtkBox GtkImage,
.button:focus GtkBox GtkLabel,
.button:focus > GtkImage,
.button:focus > GtkLabel {
  color: #3296ff;
}
.button:hover,
.button:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#c6c6c6), to(#7e7e7e));
  color: #323232;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.875);
}
.button:hover GtkBox GtkImage,
.button:prelight GtkBox GtkImage,
.button:hover GtkBox GtkLabel,
.button:prelight GtkBox GtkLabel,
.button:hover > GtkImage,
.button:prelight > GtkImage,
.button:hover > GtkLabel,
.button:prelight > GtkLabel {
  color: #323232;
}
.button.spinbutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border-width: 0px 0px 0px 0.25px;
  box-shadow: none;
}
.button.spinbutton:hover {
  color: #00c8ff;
}
.button.spinbutton:hover:backdrop {
  color: #a2a2a2;
}
.button.spinbutton:last-child {
  border-radius: 0em 2em 2em 0em;
}
.linked .button {
  border-radius: 0em;
  border-left-width: 0.25px;
  border-right-width: 0.25px;
}
.linked .button:first-child {
  border-radius: 0.5em 0em 0em 0.5em;
  border-right-width: 0.25px;
}
.linked .button:last-child {
  border-radius: 0px 0.5em 0.5em 0px;
  border-left-width: 0.25px;
}
.linked .button:only-child {
  border-radius: 5px;
  border-width: 1px;
}
column-header .button {
  background-color: rgba(198,198,198,0.25);
  background-clip: padding-box;
  border-radius: 0px;
  border-top: 1px solid transparent;
}
column-header:first-child .button {
  border-radius: 2.5px 0px 0px 0px;
  border-left: 1px solid transparent;
}
column-header:last-child .button {
  border-radius: 0px 2.5px 0px 0px;
  border-right: 1px solid transparent;
}
.csd .titlebar.header-bar .button.titlebutton {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-image: none;
  border-radius: 2em;
  color: transparent;
  margin: 10em;
  padding: 0.0625em;
}
.csd .titlebar.header-bar .button.titlebutton:backdrop {
  background-image: none;
  background-color: #646464;
}
.csd .titlebar.header-bar .button.titlebutton.close {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#00c8ff), to(#4b4b4b));
}
.csd .titlebar.header-bar .button.titlebutton.close:hover {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#80e3ff), to(#646464));
}
.csd .titlebar.header-bar .button.titlebutton.maximize {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#00c864), to(#4b4b4b));
}
.csd .titlebar.header-bar .button.titlebutton.maximize:hover {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#64ffb2), to(#646464));
}
.csd .titlebar.header-bar .button.titlebutton.minimize {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#00c8c8), to(#4b4b4b));
}
.csd .titlebar.header-bar .button.titlebutton.minimize:hover {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#64ffff), to(#646464));
}
.csd .titlebar.header-bar .button.titlebutton GtkImage {
  color: transparent;
}
GtkArrow {
  -GtkArrow-arrow-scaling: 0.6;
  color: #a2a2a2;
}
GtkArrow:hover {
  color: #323232;
}
GtkCalendar {
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.125em;
/* INCONSISTENT - Governs any days present on the calendar that do not belong to the currently selected month. */
/* HEADER - Governs the calendar bar containing the month and year selection controls. */
/* HIGHLIGHT - Governs the list of weekdays at the top of the calendar. */
}
GtkCalendar:inconsistent {
  color: #7d7d7d;
}
GtkCalendar:selected {
  background-color: #00c8ff;
  color: #323232;
  font-weight: bold;
}
GtkCalendar:selected:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
GtkCalendar.button {
  border-radius: 0.125em;
}
GtkCalendar.button:hover {
  color: #323232;
}
GtkCalendar.header {
  background-clip: border-box;
  border-color: rgba(162,162,162,0.25);
  border-bottom-color: rgba(36,36,36,0.375);
  border-right-color: rgba(36,36,36,0.375);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(126,126,126,0.25);
  border-radius: 0.375em;
}
GtkCalendar.highlight {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #00c8ff));
  border-radius: 0em;
  color: #c8c8c8;
}
GtkCalendar.highlight:backdrop {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #a2a2a2));
  color: #898989;
}
ECalendar {
  background-image: none;
  background-color: rgba(0,0,0,0.25);
}
ECalendar .button {
  border-radius: 0.125em;
}
ECalendar .button GtkArrow {
  color: #a2a2a2;
}
ECalendar .button:hover GtkArrow {
  color: #323232;
}
GtkComboBox.combobox-entry .entry {
  border-radius: 2em 0em 0em 2em;
}
GtkComboBox.combobox-entry .button {
  border-radius: 0em 2em 2em 0em;
  padding: 0.375em;
}
GtkComboBox .button {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
  padding: 0.5em;
}
GtkComboBox .cell:hover {
  color: #323232;
}
GtkComboBox .menuitem:hover > * {
  color: #323232;
}
.expander,
GtkExpander,
GtkExpander.expander {
  -GtkExpander-expander-size: 10;
  -GtkExpander-expander-spacing: 2;
  color: #c8c8c8;
}
.expander:backdrop,
GtkExpander:backdrop,
GtkExpander.expander:backdrop {
  color: #a2a2a2;
}
.scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkScrollbar-min-slider-length: 30;
  border: 1px solid transparent;
  border-radius: 2em;
}
.scrollbar.slider {
  border: 2px solid transparent;
}
.scrollbar.slider.horizontal,
.scrollbar.slider.horizontal:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.scrollbar.slider.horizontal:backdrop,
.scrollbar.slider.horizontal:hover:backdrop {
  background-color: #646464;
  background-image: none;
}
.scrollbar.slider.vertical,
.scrollbar.slider.vertical:hover {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
.scrollbar.slider.vertical:backdrop,
.scrollbar.slider.vertical:hover:backdrop {
  background-color: #646464;
  background-image: none;
}
.scrollbar.trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
}
.scrollbar-junction,
.scrollbar-junction:backdrop {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
GtkSwitch {
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#fff), to(#7d7d7d));
  border: 1px solid transparent;
  border-radius: 2em;
}
GtkSwitch.trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  color: #a2a2a2;
}
GtkSwitch.trough:active {
  background-color: #00c8ff;
  color: #323232;
}
GtkSwitch.trough:active:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
.separator {
  color: #c8c8c8;
}
.separator:backdrop {
  color: #898989;
}
.entry,
GtkEntry,
GtkEntry.entry {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.375em 0.75em 0.375em 0.75em;
  text-shadow: none;
/* IMAGE - Governs any icons that appear inside of a text entry control. */
}
.entry:backdrop,
GtkEntry:backdrop,
GtkEntry.entry:backdrop {
  color: #898989;
}
.entry:selected,
GtkEntry:selected,
GtkEntry.entry:selected {
  background-color: #a2a2a2;
  color: #323232;
}
.entry.progressbar,
GtkEntry.progressbar,
GtkEntry.entry.progressbar {
  background-color: #00c8ff;
}
.entry.progressbar:backdrop,
GtkEntry.progressbar:backdrop,
GtkEntry.entry.progressbar:backdrop {
  background-color: #a2a2a2;
}
.linked .entry:first-child,
.linked GtkEntry:first-child,
.linked GtkEntry.entry:first-child {
  border-radius: 2em 0em 0em 2em;
  padding-right: 0.25em;
}
.linked .entry:last-child,
.linked GtkEntry:last-child,
.linked GtkEntry.entry:last-child {
  border-radius: 0em 2em 2em 0em;
  padding-left: 0.25em;
}
.entry.image.left,
GtkEntry.image.left,
GtkEntry.entry.image.left {
  padding-left: 0em;
  padding-right: 0.25em;
}
.entry.image.right,
GtkEntry.image.right,
GtkEntry.entry.image.right {
  padding-left: 0.25em;
  padding-right: 0em;
}
GtkTextView {
  -GtkTextView-error-underline-color: #f00;
  color: #a2a2a2;
}
GtkTextView:backdrop {
  color: #898989;
}
GtkTextView:selected {
  background-color: #a2a2a2;
  color: #323232;
}
EelEditableLabel,
EelEditableLabel.entry {
  border-radius: 0.25em;
  color: #c8c8c8;
  padding: 0.125em 0.5em 0.125em 0.5em;
}
.menu,
GtkMenu,
GtkMenu.menu {
  -GtkMenu-horizontal-offset: -1;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #c8c8c8;
  padding: 0.125em;
}
.menuitem,
GtkImageMenuItem {
  -GtkMenuItem-arrow-scaling: 0.6;
  border-radius: 0.25em;
  color: #a2a2a2;
  padding: 1em;
/* Governs inactive menu items that cannot be selected. */
/* Governs the very first menu items, which is what is displayed on menu bars. */
/* GTKACCELLABEL - Governs the text description of each individual menu item.
     *
     *      Although its name would suggest differently, this class does NOT control the accelerators found adjacent to some
     *      menu items.
     */
/* ACCELERATOR - Governs the shortcut text found adjacent to certain individual menu items. */
}
.menuitem:hover,
GtkImageMenuItem:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  color: #323232;
}
.menuitem:hover > GtkLabel,
GtkImageMenuItem:hover > GtkLabel,
.menuitem:hover > GtkImage,
GtkImageMenuItem:hover > GtkImage,
.menuitem:hover > * > GtkLabel,
GtkImageMenuItem:hover > * > GtkLabel,
.menuitem:hover > * > GtkImage,
GtkImageMenuItem:hover > * > GtkImage,
.menuitem:hover > * > * > GtkLabel,
GtkImageMenuItem:hover > * > * > GtkLabel,
.menuitem:hover > * > * > GtkImage,
GtkImageMenuItem:hover > * > * > GtkImage {
  color: #323232;
}
.menuitem:insensitive,
GtkImageMenuItem:insensitive,
.menuitem:insensitive .accelerator,
GtkImageMenuItem:insensitive .accelerator,
.menuitem:insensitive GtkLabel,
GtkImageMenuItem:insensitive GtkLabel {
  color: #646464;
}
.menubar > .menuitem,
.menubar > GtkImageMenuItem,
GtkMenuBar > .menuitem,
GtkMenuBar > GtkImageMenuItem,
GtkMenuBar.menubar > .menuitem,
GtkMenuBar.menubar > GtkImageMenuItem {
  border-radius: 0.25em;
  color: #c8c8c8;
  padding: 0.25em 0.5em;
  text-shadow: none;
}
.menubar > .menuitem:backdrop,
.menubar > GtkImageMenuItem:backdrop,
GtkMenuBar > .menuitem:backdrop,
GtkMenuBar > GtkImageMenuItem:backdrop,
GtkMenuBar.menubar > .menuitem:backdrop,
GtkMenuBar.menubar > GtkImageMenuItem:backdrop {
  color: #898989;
}
.menubar > .menuitem:hover,
.menubar > GtkImageMenuItem:hover,
GtkMenuBar > .menuitem:hover,
GtkMenuBar > GtkImageMenuItem:hover,
GtkMenuBar.menubar > .menuitem:hover,
GtkMenuBar.menubar > GtkImageMenuItem:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#c6c6c6), to(#7e7e7e));
  color: #323232;
}
.menuitem .accelerator,
GtkImageMenuItem .accelerator {
  color: #898989;
}
.notebook,
GtkNotebook,
GtkNotebook.notebook {
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-has-tab-gap: false;
  -GtkNotebook-initial-gap: 10;
  -GtkNotebook-tab-overlap: -5;
  -GtkNotebook-tab-fill: true;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
/* HEADER - Governs the area where tabs are located for the notebook. */
/* TAB - Governs the individual tabs for a notebook control.
     *
     *      Official documentation suggests that this class is deprecated, but as far as I can tell there's no other way to
     *      select for these objects.
     *
     *      The transparent border of this class is part of a trick that ends up providing the appearance of a tab glowing
     *      from one of its sides.
     */
}
.notebook.header,
GtkNotebook.header,
GtkNotebook.notebook.header {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
  border-radius: 0.25em;
}
.notebook tab,
GtkNotebook tab,
GtkNotebook.notebook tab {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 0.75em;
/* ACTIVE - Governs the active tab page for the notebook. */
/* ACTIVE-PAGE - Governs the active tab page for the notebook. */
}
.notebook tab:active.bottom,
GtkNotebook tab:active.bottom,
GtkNotebook.notebook tab:active.bottom {
  box-shadow: inset 0px 7px 5px -5px #00c8ff, inset 0px 1px 1px #00c8ff;
}
.notebook tab:active.bottom:backdrop,
GtkNotebook tab:active.bottom:backdrop,
GtkNotebook.notebook tab:active.bottom:backdrop {
  box-shadow: inset 0px 1px 1px #a2a2a2;
}
.notebook tab:active.left,
GtkNotebook tab:active.left,
GtkNotebook.notebook tab:active.left {
  box-shadow: inset 7px 0px 5px -5px #00c8ff, inset 1px 0px 1px #00c8ff;
}
.notebook tab:active.left:backdrop,
GtkNotebook tab:active.left:backdrop,
GtkNotebook.notebook tab:active.left:backdrop {
  box-shadow: inset 1px 0px 1px #a2a2a2;
}
.notebook tab:active.right,
GtkNotebook tab:active.right,
GtkNotebook.notebook tab:active.right {
  box-shadow: inset -7px 0px 5px -5px #00c8ff, inset -1px 0px 1px #00c8ff;
}
.notebook tab:active.right:backdrop,
GtkNotebook tab:active.right:backdrop,
GtkNotebook.notebook tab:active.right:backdrop {
  box-shadow: inset -1px 0px 1px #a2a2a2;
}
.notebook tab:active.top,
GtkNotebook tab:active.top,
GtkNotebook.notebook tab:active.top {
  box-shadow: inset 0px -7px 5px -5px #00c8ff, inset 0px -1px 1px #00c8ff;
}
.notebook tab:active.top:backdrop,
GtkNotebook tab:active.top:backdrop,
GtkNotebook.notebook tab:active.top:backdrop {
  box-shadow: inset 0px -1px 1px #a2a2a2;
}
.notebook tab .active-page .button,
GtkNotebook tab .active-page .button,
GtkNotebook.notebook tab .active-page .button,
.notebook tab .active-page .button.flat,
GtkNotebook tab .active-page .button.flat,
GtkNotebook.notebook tab .active-page .button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.notebook tab .active-page .button > GtkImage,
GtkNotebook tab .active-page .button > GtkImage,
GtkNotebook.notebook tab .active-page .button > GtkImage,
.notebook tab .active-page .button.flat > GtkImage,
GtkNotebook tab .active-page .button.flat > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat > GtkImage {
  color: #00c8ff;
}
.notebook tab .active-page .button:backdrop > GtkImage,
GtkNotebook tab .active-page .button:backdrop > GtkImage,
GtkNotebook.notebook tab .active-page .button:backdrop > GtkImage,
.notebook tab .active-page .button.flat:backdrop > GtkImage,
GtkNotebook tab .active-page .button.flat:backdrop > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat:backdrop > GtkImage {
  color: #a2a2a2;
}
.notebook tab .active-page .button:hover > GtkImage,
GtkNotebook tab .active-page .button:hover > GtkImage,
GtkNotebook.notebook tab .active-page .button:hover > GtkImage,
.notebook tab .active-page .button.flat:hover > GtkImage,
GtkNotebook tab .active-page .button.flat:hover > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat:hover > GtkImage {
  color: #f00;
}
.notebook tab .active-page GtkLabel,
GtkNotebook tab .active-page GtkLabel,
GtkNotebook.notebook tab .active-page GtkLabel,
.notebook tab GtkLabel.active-page,
GtkNotebook tab GtkLabel.active-page,
GtkNotebook.notebook tab GtkLabel.active-page {
  color: #00c8ff;
  font-weight: bold;
  border-color: #00c8ff;
}
.notebook tab .active-page GtkLabel:backdrop,
GtkNotebook tab .active-page GtkLabel:backdrop,
GtkNotebook.notebook tab .active-page GtkLabel:backdrop,
.notebook tab GtkLabel.active-page:backdrop,
GtkNotebook tab GtkLabel.active-page:backdrop,
GtkNotebook.notebook tab GtkLabel.active-page:backdrop {
  color: #a2a2a2;
  border-color: #a2a2a2;
}
.notebook tab .button,
GtkNotebook tab .button,
GtkNotebook.notebook tab .button,
.notebook tab .button.flat,
GtkNotebook tab .button.flat,
GtkNotebook.notebook tab .button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.notebook tab .button > GtkImage,
GtkNotebook tab .button > GtkImage,
GtkNotebook.notebook tab .button > GtkImage,
.notebook tab .button.flat > GtkImage,
GtkNotebook tab .button.flat > GtkImage,
GtkNotebook.notebook tab .button.flat > GtkImage {
  color: #a2a2a2;
}
.notebook tab .button:backdrop > GtkImage,
GtkNotebook tab .button:backdrop > GtkImage,
GtkNotebook.notebook tab .button:backdrop > GtkImage,
.notebook tab .button.flat:backdrop > GtkImage,
GtkNotebook tab .button.flat:backdrop > GtkImage,
GtkNotebook.notebook tab .button.flat:backdrop > GtkImage {
  color: #898989;
}
.notebook tab .button:hover > GtkImage,
GtkNotebook tab .button:hover > GtkImage,
GtkNotebook.notebook tab .button:hover > GtkImage,
.notebook tab .button.flat:hover > GtkImage,
GtkNotebook tab .button.flat:hover > GtkImage,
GtkNotebook.notebook tab .button.flat:hover > GtkImage {
  color: #f00;
}
.trough,
GtkProgressBar.horizontal.trough,
GtkProgressBar.progressbar.horizontal.trough,
GtkProgressBar.horizontal.trough:backdrop,
GtkProgressBar.progressbar.horizontal.trough:backdrop,
GtkProgressBar.vertical.trough,
GtkProgressBar.progressbar.vertical.trough,
GtkProgressBar.vertical.trough:backdrop,
GtkProgressBar.progressbar.vertical.trough:backdrop,
.level-bar.indicator-discrete.fill-block,
GtkLevelBar.indicator-discrete.fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block,
.scale.trough,
GtkScale.trough,
GtkScale.scale.trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-image: none;
  border-radius: 2em;
  padding: 0.125em;
}
GtkProgressBar,
GtkProgressBar.progressbar {
  -GtkProgressBar-min-horizontal-bar-height: 15;
  -GtkProgressBar-min-vertical-bar-width: 15;
  border: 2px solid transparent;
  border-radius: 2em;
}
GtkProgressBar.horizontal,
GtkProgressBar.progressbar.horizontal {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
GtkProgressBar.horizontal:backdrop,
GtkProgressBar.progressbar.horizontal:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
GtkProgressBar.vertical,
GtkProgressBar.progressbar.vertical {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
GtkProgressBar.vertical:backdrop,
GtkProgressBar.progressbar.vertical:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.level-bar.horizontal,
GtkLevelBar.horizontal,
GtkLevelBar.level-bar.horizontal {
  -GtkLevelBar-min-block-height: 15;
  -GtkLevelBar-min-block-width: 3;
}
.level-bar.vertical,
GtkLevelBar.vertical,
GtkLevelBar.level-bar.vertical {
  -GtkLevelBar-min-block-height: 3;
  -GtkLevelBar-min-block-width: 15;
}
.level-bar.indicator-continuous.fill-block,
GtkLevelBar.indicator-continuous.fill-block,
GtkLevelBar.level-bar.indicator-continuous.fill-block {
  border-radius: 2em;
}
.level-bar.indicator-continuous.fill-block.horizontal,
GtkLevelBar.indicator-continuous.fill-block.horizontal,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.level-bar.indicator-continuous.fill-block.horizontal:backdrop,
GtkLevelBar.indicator-continuous.fill-block.horizontal:backdrop,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.level-bar.indicator-continuous.fill-block.horizontal.empty-fill-block,
GtkLevelBar.indicator-continuous.fill-block.horizontal.empty-fill-block,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal.empty-fill-block {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.level-bar.indicator-discrete.fill-block.horizontal.level-high,
GtkLevelBar.indicator-discrete.fill-block.horizontal.level-high,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.level-high {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#12ff88), to(#007f40));
}
.level-bar.indicator-discrete.fill-block.horizontal.level-low,
GtkLevelBar.indicator-discrete.fill-block.horizontal.level-low,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.level-low {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ff4949), to(#b60000));
}
.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block,
GtkLevelBar.indicator-discrete.fill-block.horizontal.empty-fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block,
.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop,
GtkLevelBar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop {
  background-image: none;
}
.level-bar.indicator-discrete.fill-block.vertical.level-high,
GtkLevelBar.indicator-discrete.fill-block.vertical.level-high,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.level-high {
  background-image: -gtk-gradient(linear, left top, right top, from(#12ff88), to(#007f40));
}
.level-bar.indicator-discrete.fill-block.vertical.level-low,
GtkLevelBar.indicator-discrete.fill-block.vertical.level-low,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.level-low {
  background-image: -gtk-gradient(linear, left top, right top, from(#ff4949), to(#b60000));
}
.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block,
GtkLevelBar.indicator-discrete.fill-block.vertical.empty-fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block,
.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop,
GtkLevelBar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop {
  background-image: none;
}
.level-bar.indicator-discrete.trough,
GtkLevelBar.indicator-discrete.trough,
GtkLevelBar.level-bar.indicator-discrete.trough {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.scale,
GtkScale,
GtkScale.scale {
  -GtkRange-slider-width: 20;
  -GtkRange-trough-border: 0;
  -GtkScale-slider-length: 20;
  -GtkWidget-focus-line-width: 0;
}
.scale.horizontal,
GtkScale.horizontal,
GtkScale.scale.horizontal {
  margin: 0.25em 0em 0.25em 0em;
}
.scale.horizontal.trough.highlight,
GtkScale.horizontal.trough.highlight,
GtkScale.scale.horizontal.trough.highlight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
}
.scale.vertical,
GtkScale.vertical,
GtkScale.scale.vertical {
  margin: 0em 0.25em 0em 0.25em;
}
.scale.vertical.trough.highlight,
GtkScale.vertical.trough.highlight,
GtkScale.scale.vertical.trough.highlight {
  background-image: -gtk-gradient(linear, left top, right top, from(#008fb6), to(#49d8ff));
}
.scale.slider,
GtkScale.slider,
GtkScale.scale.slider {
  border-radius: 2em;
  background-image: -gtk-gradient(radial, 0.375 0.375, 0, 0.5 0.5, 1, from(#fff), to(#7d7d7d));
}
.scale.trough.highlight:backdrop,
GtkScale.trough.highlight:backdrop,
GtkScale.scale.trough.highlight:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
