

@import "Library";



/** DEFAULTS **/
*,
GtkWidget
    -GtkWidget-background-color:    transparent;
    -GtkWidget-focus-padding:       0;
    -GtkWidget-focus-line-width:    0;
    -GtkWidget-link-color:          LinkColor;
    -GtkWidget-margin:              0;
    -GtkWidget-separator-height:    1;
    -GtkWidget-separator-width:     1;
    -GtkWidget-visited-link-color:  LinkColor;
    -GtkWidget-wide-separators:     false;

    background-color:               transparent;
    background-clip:                padding-box;
    background-image:               none;
    border:                         none;
    border-radius:                  0px;
    box-shadow:                     none;
    color:                          TextColor;
    outline-color:                  transparent;
    outline-offset:                 0px;

    &:backdrop
        color:                      TextColorDim;


@import "Containers";
@import "Cells";
@import "Buttons";
