/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */


.notebook,
GtkNotebook,
GtkNotebook.notebook
    -GtkNotebook-arrow-spacing: 5;
    -GtkNotebook-has-tab-gap:   false;
    -GtkNotebook-initial-gap:   10;
    -GtkNotebook-tab-overlap:   -5;
    -GtkNotebook-tab-fill:      true;

    padding-bottom: 0.125em;
    padding-top:    0.25em;

    /* HEADER - Governs the area where tabs are located for the notebook. */
    &.header
        // shallow-inset();
        deep-inset();
        border-radius:  0.25em;

    /* TAB - Governs the individual tabs for a notebook control.
     *
     *      Official documentation suggests that this class is deprecated, but as far as I can tell there's no other way to
     *      select for these objects.
     *
     *      The transparent border of this class is part of a trick that ends up providing the appearance of a tab glowing
     *      from one of its sides.
     */
    tab
        flat();
        border:         2px solid transparent;
        padding:        0.75em;

        /* ACTIVE - Governs the active tab page for the notebook. */
        &:active
            &.bottom
                box-shadow:     inset 0px 7px 5px -5px SelectionColor,
                                inset 0px 1px 1px SelectionColor;
                &:backdrop
                    box-shadow: inset 0px 1px 1px HighlightColor;
            &.left
                box-shadow:     inset 7px 0px 5px -5px SelectionColor,
                                inset 1px 0px 1px SelectionColor;
                &:backdrop
                    box-shadow: inset 1px 0px 1px HighlightColor;
            &.right
                box-shadow:     inset -7px 0px 5px -5px SelectionColor,
                                inset -1px 0px 1px SelectionColor;
                &:backdrop
                    box-shadow: inset -1px 0px 1px HighlightColor;
            &.top
                box-shadow:     inset 0px -7px 5px -5px SelectionColor,
                                inset 0px -1px 1px SelectionColor;
                &:backdrop
                    box-shadow: inset 0px -1px 1px HighlightColor;


        /* ACTIVE-PAGE - Governs the active tab page for the notebook. */
        .active-page
            .button,
            .button.flat
                flat();
                > GtkImage                  { color: SelectionColor; }
                &:backdrop > GtkImage       { color: HighlightColor; }
                &:hover > GtkImage          { color: Red; }

            GtkLabel
                color:                      SelectionColor;
                font-weight:                bold;
                border-color:               SelectionColor;
                &:backdrop
                    color:                  HighlightColor;
                    border-color:           HighlightColor;

        .button,
        .button.flat
            flat();
            padding:                        1px;
            > GtkImage                      { color: TextColor; }
            &:backdrop > GtkImage           { color: TextColorDim; }
            &:hover > GtkImage              { color: Red; }

        GtkLabel.active-page
            @extends .notebook tab .active-page GtkLabel;
