/* STYLES */
.calendar {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.375);
  box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.5);
  padding: 2px;
}
#calendarArea {
  padding: 0px;
}
.calendar-day {
  border-radius: 0.375em;
}
.calendar-day:active,
.calendar-day:selected {
  background-color: rgba(162,162,162,0.625);
}
.calendar-day:active:hover,
.calendar-day:selected:hover {
  background-color: #a2a2a2;
  color: #323232;
}
.calendar-day:hover {
  background-color: rgba(162,162,162,0.375);
}
.calendar-day.calendar-today {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.375);
  box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.5);
  background-color: #00c8ff;
  border-radius: 2em;
  color: #323232;
}
.calendar-day.calendar-today:hover {
  background-color: #a2a2a2;
  color: #323232;
}
.calendar-day-heading {
  border: 0px solid #00c8ff;
  border-bottom-width: 1px;
  border-radius: 0px;
  color: #a2a2a2;
  font-weight: bold;
  margin: 0px;
}
.calendar-nonwork-day {
  color: #898989;
}
.calendar-other-month-day {
  color: #646464;
}
.datemenu-today-button {
  text-align: center;
}
#dash {
  background-color: #252525;
}
#dash .app-well-app.focused > StWidget > StBin {
  border: 1px solid transparent;
  border-radius: 0em;
}
.dash-label {
  background-color: #252525;
  border-bottom: 0px none transparent;
  border-left: 2px solid #303030;
  border-right: 0px none transparent;
  border-top: 2px solid #303030;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  padding: 0.75em 1em;
}
.icon-grid .overview-icon,
.icon-grid StIcon {
  icon-shadow: 0px 0px 4px #000;
  icon-size: 1em;
}
.popup-menu {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.popup-menu.panel-menu {
  -boxpointer-gap: 2px;
  padding: 0px;
}
.popup-menu.panel-menu .popup-menu-content {
  padding: 4px 2px;
}
.popup-menu .popup-menu-content {
  background-color: #252525;
  border-bottom: 0px none transparent;
  border-left: 1px solid #303030;
  border-right: 0px none transparent;
  border-top: 1px solid #303030;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  padding: 4px;
}
.popup-menu .popup-menu-item {
  color: #a2a2a2;
}
.popup-menu .popup-menu-item:active,
.popup-menu .popup-menu-item:checked {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-color: rgba(162,162,162,0.875);
  border: none;
  border-radius: 0.125em 0.125em 0em 0em;
  color: #323232;
}
.popup-menu .popup-menu-item:active:hover,
.popup-menu .popup-menu-item:checked:hover {
  border-radius: 0.125em 0.125em 0em 0em;
}
.popup-menu .popup-menu-item:hover,
.popup-menu .popup-menu-item.selected {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  border: none;
  background-color: rgba(162,162,162,0.625);
  border-radius: 0.125em;
  color: #323232;
}
.popup-menu .popup-sub-menu {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.25);
  border: 1px solid rgba(75,75,75,0.125);
  border-radius: 0em 0em 0.125em 0.125em;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
}
.popup-menu .popup-sub-menu .popup-menu-item {
  border: 2px solid transparent;
}
.popup-menu .popup-sub-menu .popup-menu-item:hover {
  border-color: #252525;
  border-radius: 0.125em;
  box-shadow: none;
}
.popup-menu-ornament {
  height: 4px;
  width: 4px;
}
.popup-menu-boxpointer {
  -arrow-background-color: transparent;
  -arrow-base: 64px;
  -arrow-border-color: transparent;
  -arrow-border-radius: 0.375em;
  -arrow-border-with: 0px;
  -arrow-box-shadow: none;
  -arrow-margin: 0px;
  -arrow-padding: 0px;
  -arrow-rise: 0px;
}
.popup-separator-menu-item {
  background-color: transparent;
  border-image: url("Stylus/Icons/Separator-Horizontal.svg") 0 0 2 0/0px 0px 2px 0px stretch;
  margin: 0px;
}
.search-section-separator {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
.message-list .message {
  border-radius: 0.125em;
  border: 1px solid transparent;
}
.message-list .message:hover {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-color: rgba(162,162,162,0.25);
  border-radius: 0.25em;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.5);
  color: #323232;
}
.message-list .message StIcon {
  icon-size: 2em;
  icon-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
.message-list .message-list-clear-button {
  border-radius: 2em;
  background-color: #323232;
  border-bottom: 0px none transparent;
  border-left: 1px solid #3c3c3c;
  border-right: 0px none transparent;
  border-top: 1px solid #3c3c3c;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  margin-bottom: 1em;
}
.message-list .message-list-clear-button:hover {
  background-color: #4b4b4b;
}
.message-list .message-media-control {
  background-color: #323232;
  border-bottom: 0px none transparent;
  border-left: 1px solid #3c3c3c;
  border-right: 0px none transparent;
  border-top: 1px solid #3c3c3c;
  border-radius: 0em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  margin: 1em 0em;
}
.message-list .message-media-control:first-child {
  border-radius: 0.375em 0em 0em 0.375em;
}
.message-list .message-media-control:hover {
  background-color: rgba(162,162,162,0.25);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.message-list .message-media-control:last-child {
  border-radius: 0em 0.375em 0.375em 0em;
  margin-right: 1em;
}
.modal-dialog,
.notification-banner,
.osd-window {
  background-color: #252525;
  border-bottom: 0px none transparent;
  border-left: 1px solid #303030;
  border-right: 0px none transparent;
  border-top: 1px solid #303030;
  border-radius: 0.5em;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
.modal-dialog {
  background-color: #4b4b4b;
  border-bottom: 0px none transparent;
  border-left: 1px solid #666;
  border-right: 0px none transparent;
  border-top: 1px solid #666;
}
.modal-dialog-linked-button {
  background-color: #646464;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-bottom: 0px none transparent;
  border-left: 1px solid #7b7b7b;
  border-right: 0px none transparent;
  border-top: 1px solid #7b7b7b;
  margin: 0.5em 0em;
}
.modal-dialog-linked-button:first-child {
  border-radius: 0.375em 0em 0em 0.375em;
  margin-left: 1em;
}
.modal-dialog-linked-button:first-child:last-child {
  border-radius: 0.375em;
}
.modal-dialog-linked-button:hover {
  background-color: #a2a2a2;
  color: #323232;
}
.modal-dialog-linked-button:last-child {
  border-radius: 0em 0.375em 0.375em 0em;
  margin-right: 1em;
}
#panel {
  background-color: #252525;
  background-gradient-direction: none;
  border: none;
  box-shadow: 0px 0px 3px #000;
}
#panel .panel-button:active {
  background-color: rgba(162,162,162,0.875);
  box-shadow: inset 1px 1px 2px #000;
}
#panel .panel-button:active:hover {
  icon-shadow: none;
}
.switcher-arrow:highlighted {
  color: #00c8ff;
}
.switcher-list {
  background-color: #252525;
  border-bottom: 0px none transparent;
  border-left: 1px solid #303030;
  border-right: 0px none transparent;
  border-top: 1px solid #303030;
  border-radius: 0.5em;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.375);
}
.switcher-list .item-box,
.switcher-list .thumbnail-box {
  background-color: transparent;
  border: none;
}
.switcher-list .item-box:selected,
.switcher-list .thumbnail-box:selected {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-color: #00c8ff;
  color: #323232;
}
.switcher-list .item-box:outlined,
.switcher-list .thumbnail-box:outlined {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-color: #646464;
  color: #a2a2a2;
}
.switcher-list .item-box StIcon,
.switcher-list .thumbnail-box StIcon {
  icon-shadow: 0px 0px 5px #000;
}
.tile-preview,
.tile-preview-left,
.tile-preview-left.on-primary {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
StEntry {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 2em;
  padding: 0.25em 0.5em;
}
#overview StEntry {
  background-color: #252525;
}
.slider {
  margin: 0.25em 0em;
}
.system-menu-action {
  background-color: rgba(0,0,0,0.25);
  border: none;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.375);
}
.system-menu-action:hover {
  background-color: #a2a2a2;
  border: none;
}
