/** DEFAULTS **/
*,
GtkWidget,
button,
button.popup {
  -GtkWidget-background-color: transparent;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-link-color: #00c864;
  -GtkWidget-separator-height: 2;
  -GtkWidget-separator-width: 2;
  -GtkWidget-visited-link-color: #00c864;
  -GtkWidget-wide-separators: true;
  background-color: transparent;
  background-clip: padding-box;
  background-image: none;
  border: none;
  border-image: none;
  border-radius: 0em;
  box-shadow: none;
  color: #a2a2a2;
  outline-color: transparent;
  outline-offset: 0px;
}
*:backdrop,
GtkWidget:backdrop,
button:backdrop,
button.popup:backdrop {
  color: #898989;
}
.app-notification {
  background-color: #252525;
  background-clip: border-box;
  border-color: rgba(174,174,174,0.125);
  border-bottom-color: rgba(12,12,12,0.125);
  border-right-color: rgba(12,12,12,0.125);
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5em;
  padding: 0.5em;
}
.background,
window {
  -GtkWindow-resize-handle: 5;
  background-clip: border-box;
  background-image: none;
}
.background .titlebar,
window .titlebar,
.background headerbar,
window headerbar {
  background-color: inherit;
  padding: 0.25em 0em;
}
.background.maximized,
window.maximized,
.background.maximized .titlebar,
window.maximized .titlebar,
.background.maximized headerbar,
window.maximized headerbar {
  background-color: #4b4b4b;
}
.background.maximized:backdrop,
window.maximized:backdrop,
.background.maximized .titlebar:backdrop,
window.maximized .titlebar:backdrop,
.background.maximized headerbar:backdrop,
window.maximized headerbar:backdrop {
  background-color: #3e3e3e;
}
.background:not(.csd):not(popover):not(.popup),
window:not(.csd):not(popover):not(.popup) {
  background-color: #4b4b4b;
}
.background:not(.csd):not(popover):not(.popup):backdrop,
window:not(.csd):not(popover):not(.popup):backdrop {
  background-color: #3e3e3e;
}
.background:not(.csd):not(popover):not(.popup) .titlebar,
window:not(.csd):not(popover):not(.popup) .titlebar,
.background:not(.csd):not(popover):not(.popup) headerbar,
window:not(.csd):not(popover):not(.popup) headerbar {
  background-color: transparent;
}
.background:not(.csd):not(popover):not(.popup) > decoration,
window:not(.csd):not(popover):not(.popup) > decoration {
  background-color: #4b4b4b;
}
.background:not(.csd):not(popover):not(.popup) > decoration:backdrop,
window:not(.csd):not(popover):not(.popup) > decoration:backdrop {
  background-color: #3e3e3e;
}
.dnd {
  border: 2px solid #00c8ff;
}
.overshoot,
.undershoot {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
decoration {
  background-color: #4b4b4b;
  background-clip: border-box;
  border-color: rgba(174,174,174,0.125);
  border-bottom-color: rgba(12,12,12,0.125);
  border-right-color: rgba(12,12,12,0.125);
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.625), 5px 5px 7px rgba(0,0,0,0.5);
  margin: 10px;
  padding: 0em 0.25em 0.25em 0.25em;
}
decoration:backdrop {
  background-color: #3e3e3e;
}
.maximized > decoration {
  background-color: #4b4b4b;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
}
.popup > decoration {
  background-color: #252525;
  background-image: none;
  padding: 0em;
}
.tiled > decoration {
  border-radius: 0px;
}
tooltip > decoration {
  background-color: #252525;
  padding: 0px;
}
.rubberband {
  background-color: rgba(162,162,162,0.25);
  border: 1px solid #96c8ff;
}
scrolledwindow {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.375);
  box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.5);
  border-radius: 0.25em;
  padding: 1px;
}
.sidebar > scrolledwindow {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.cell image,
row image {
  color: #00c8ff;
}
.cell:selected,
row:selected {
  background-color: #a2a2a2;
  color: #323232;
}
.cell:selected image,
row:selected image,
.cell:selected label,
row:selected label {
  color: #323232;
}
.cell:selected:backdrop,
row:selected:backdrop {
  background-color: HighlightColorDim;
  background-image: none;
  color: #323232;
}
.cell:selected:backdrop image,
row:selected:backdrop image,
.cell:selected:backdrop label,
row:selected:backdrop label {
  color: #323232;
}
.sidebar row {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #a2a2a2;
}
.sidebar row image,
.sidebar row label {
  color: #a2a2a2;
}
.sidebar row:backdrop {
  color: #898989;
}
.sidebar row:backdrop image,
.sidebar row:backdrop label {
  color: #898989;
}
.sidebar row:selected {
  background-color: #00c8ff;
  color: #323232;
}
.sidebar row:selected image,
.sidebar row:selected label {
  color: #323232;
}
.sidebar row:selected:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
.sidebar row:selected:backdrop image,
.sidebar row:selected:backdrop label {
  color: #323232;
}
.sidebar row label {
  font-weight: bold;
  padding: 1em;
}
.sidebar row .sidebar-button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
.sidebar row .sidebar-icon {
  padding-left: 0.5em;
}
FooScrollArea,
GtkDrawingArea {
  background-color: #3e3e3e;
}
FooScrollArea:backdrop,
GtkDrawingArea:backdrop {
  background-color: #323232;
}
trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-image: none;
  border-radius: 2em;
  min-height: 1em;
  min-width: 1em;
}
trough row:selected:focused {
  background-color: #323232;
  background-image: none;
  color: #a2a2a2;
}
progressbar progress {
  border-radius: 2em;
  min-height: 1em;
  min-width: 1em;
}
progressbar.horizontal progress {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
progressbar.horizontal progress:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
progressbar.vertical progress {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
progressbar.vertical progress:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
levelbar block.empty {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
levelbar block.filled {
  border: 2px solid transparent;
}
levelbar block.filled.high {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#12ff88), to(#007f40));
}
levelbar block.filled.low {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ff4949), to(#b60000));
}
levelbar block.filled.high:backdrop,
levelbar block.filled.low:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
levelbar.continuous block.filled {
  border-radius: 2em;
}
levelbar.discrete block.filled:first-child {
  border-radius: 2em 0em 0em 2em;
}
levelbar.discrete block.filled:last-child {
  border-radius: 0.25em 2em 2em 0.25em;
}
toolbar.horizontal {
  border-image: -gtk-scaled(url("Icons/Separator-Horizontal.svg")) 0 0 2 0/0px 0px 2px 0px stretch;
}
toolbar.vertical {
  border-image: -gtk-scaled(url("Icons/Separator-Vertical.svg")) 0 2 0 0/0px 2px 0px 0px stretch;
}
scale {
  padding: 0.25em 0em;
}
scale.horizontal highlight:backdrop,
scale.vertical highlight:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
scale.horizontal slider:backdrop,
scale.vertical slider:backdrop {
  background-image: url("Icons/Slider-Backdrop.svg");
}
scale.horizontal highlight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
  border-radius: 2em 0em 0em 2em;
}
scale.horizontal highlight.bottom {
  border-radius: 0em 2em 2em 0em;
}
scale.vertical highlight {
  background-image: -gtk-gradient(linear, left top, right top, from(#008fb6), to(#49d8ff));
  border-radius: 2em 2em 0em 0em;
}
scale.vertical highlight.bottom {
  border-radius: 0em 0em 2em 2em;
}
scale slider {
  background-color: transparent;
  background-size: 100% 100%;
  min-width: 1em;
  min-height: 1em;
  background-image: url("Icons/Slider.svg");
}
separator {
  background-image: url("Icons/Separator-Horizontal.svg");
  min-height: 2px;
  min-width: 2px;
}
separator.vertical {
  background-image: url("Icons/Separator-Vertical.svg");
}
menu separator {
  background-repeat: repeat-x;
  background-image: url("Icons/Separator-Horizontal.svg");
  margin: 0.25em;
}
paned.horizontal > separator {
  background-image: url("Icons/Separator-Vertical.svg");
}
button,
button.popup {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(198,198,198,0.25)), to(rgba(126,126,126,0.25)));
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.375em;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.375);
  padding: 0.5em;
/* ACTIVE - Controls buttons currently undergoing a mouse click.
     *
     * CHECKED - Controls toggle-like buttons that have been pressed.
     */
/* TITLEBUTTON - Governs the standard close, maximize, and minimize buttons for CSD windows. */
}
button:active,
button.popup:active,
button:checked,
button.popup:checked,
button.flat:active,
button.popup.flat:active,
button.flat:checked,
button.popup.flat:checked,
treeview header button:active,
treeview header button:checked,
calendar.button:active,
calendar.button:checked,
ECanvas button:active,
ECanvas button:checked,
ECalendar button:active,
ECalendar button:checked {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
  color: #323232;
}
button:active image,
button.popup:active image,
button:checked image,
button.popup:checked image,
button.flat:active image,
button.popup.flat:active image,
button.flat:checked image,
button.popup.flat:checked image,
treeview header button:active image,
treeview header button:checked image,
calendar.button:active image,
calendar.button:checked image,
ECanvas button:active image,
ECanvas button:checked image,
ECalendar button:active image,
ECalendar button:checked image,
button:active label,
button.popup:active label,
button:checked label,
button.popup:checked label,
button.flat:active label,
button.popup.flat:active label,
button.flat:checked label,
button.popup.flat:checked label,
treeview header button:active label,
treeview header button:checked label,
calendar.button:active label,
calendar.button:checked label,
ECanvas button:active label,
ECanvas button:checked label,
ECalendar button:active label,
ECalendar button:checked label {
  color: #323232;
}
button:active:backdrop,
button.popup:active:backdrop,
button:checked:backdrop,
button.popup:checked:backdrop,
button.flat:active:backdrop,
button.popup.flat:active:backdrop,
button.flat:checked:backdrop,
button.popup.flat:checked:backdrop,
treeview header button:active:backdrop,
treeview header button:checked:backdrop,
calendar.button:active:backdrop,
calendar.button:checked:backdrop,
ECanvas button:active:backdrop,
ECanvas button:checked:backdrop,
ECalendar button:active:backdrop,
ECalendar button:checked:backdrop,
button:active:hover,
button.popup:active:hover,
button:checked:hover,
button.popup:checked:hover,
button.flat:active:hover,
button.popup.flat:active:hover,
button.flat:checked:hover,
button.popup.flat:checked:hover,
treeview header button:active:hover,
treeview header button:checked:hover,
calendar.button:active:hover,
calendar.button:checked:hover,
ECanvas button:active:hover,
ECanvas button:checked:hover,
ECalendar button:active:hover,
ECalendar button:checked:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#7e7e7e), to(#c6c6c6));
  color: #323232;
}
button:active:backdrop image,
button.popup:active:backdrop image,
button:checked:backdrop image,
button.popup:checked:backdrop image,
button.flat:active:backdrop image,
button.popup.flat:active:backdrop image,
button.flat:checked:backdrop image,
button.popup.flat:checked:backdrop image,
treeview header button:active:backdrop image,
treeview header button:checked:backdrop image,
calendar.button:active:backdrop image,
calendar.button:checked:backdrop image,
ECanvas button:active:backdrop image,
ECanvas button:checked:backdrop image,
ECalendar button:active:backdrop image,
ECalendar button:checked:backdrop image,
button:active:hover image,
button.popup:active:hover image,
button:checked:hover image,
button.popup:checked:hover image,
button.flat:active:hover image,
button.popup.flat:active:hover image,
button.flat:checked:hover image,
button.popup.flat:checked:hover image,
treeview header button:active:hover image,
treeview header button:checked:hover image,
calendar.button:active:hover image,
calendar.button:checked:hover image,
ECanvas button:active:hover image,
ECanvas button:checked:hover image,
ECalendar button:active:hover image,
ECalendar button:checked:hover image,
button:active:backdrop label,
button.popup:active:backdrop label,
button:checked:backdrop label,
button.popup:checked:backdrop label,
button.flat:active:backdrop label,
button.popup.flat:active:backdrop label,
button.flat:checked:backdrop label,
button.popup.flat:checked:backdrop label,
treeview header button:active:backdrop label,
treeview header button:checked:backdrop label,
calendar.button:active:backdrop label,
calendar.button:checked:backdrop label,
ECanvas button:active:backdrop label,
ECanvas button:checked:backdrop label,
ECalendar button:active:backdrop label,
ECalendar button:checked:backdrop label,
button:active:hover label,
button.popup:active:hover label,
button:checked:hover label,
button.popup:checked:hover label,
button.flat:active:hover label,
button.popup.flat:active:hover label,
button.flat:checked:hover label,
button.popup.flat:checked:hover label,
treeview header button:active:hover label,
treeview header button:checked:hover label,
calendar.button:active:hover label,
calendar.button:checked:hover label,
ECanvas button:active:hover label,
ECanvas button:checked:hover label,
ECalendar button:active:hover label,
ECalendar button:checked:hover label {
  color: #323232;
}
button.flat,
button.popup.flat,
treeview header button,
calendar.button,
ECanvas button,
ECalendar button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 0.25em;
}
button.flat:hover,
button.popup.flat:hover,
treeview header button:hover,
calendar.button:hover,
ECanvas button:hover,
ECalendar button:hover {
  background-color: #a2a2a2;
  background-image: none;
  box-shadow: none;
}
button:hover,
button.popup:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#c6c6c6), to(#7e7e7e));
  color: #323232;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.875);
}
button:hover image,
button.popup:hover image,
button:hover label,
button.popup:hover label {
  color: #323232;
}
.linked > button,
.linked > button.popup,
.horizontal.linked > button,
.horizontal.linked > button.popup {
  border-radius: 0em;
  border-width: 1px 0.25px;
}
.linked > button:first-child,
.linked > button.popup:first-child,
.horizontal.linked > button:first-child,
.horizontal.linked > button.popup:first-child {
  border-radius: 0.375em 0em 0em 0.375em;
  border-left-width: 1px;
}
.linked > button:last-child,
.linked > button.popup:last-child,
.horizontal.linked > button:last-child,
.horizontal.linked > button.popup:last-child {
  border-radius: 0px 0.375em 0.375em 0px;
  border-right-width: 1px;
}
.linked > button:only-child,
.linked > button.popup:only-child,
.horizontal.linked > button:only-child,
.horizontal.linked > button.popup:only-child {
  border-radius: 0.375em;
  border-width: 1px;
}
headerbar button.titlebutton,
headerbar button.popup.titlebutton,
.titlebar button.titlebutton,
.titlebar button.popup.titlebutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  background-size: 100%;
  background-image: url("../unity/Core/Button.svg");
  padding: 0.25em;
}
headerbar button.titlebutton.close:backdrop,
headerbar button.popup.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop,
.titlebar button.popup.titlebutton.close:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.popup.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
.titlebar button.popup.titlebutton.maximize:backdrop,
headerbar button.titlebutton.minimize:backdrop,
headerbar button.popup.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop,
.titlebar button.popup.titlebutton.minimize:backdrop {
  background-image: url("../unity/Core/Button.svg");
}
headerbar button.titlebutton.close,
headerbar button.popup.titlebutton.close,
.titlebar button.titlebutton.close,
.titlebar button.popup.titlebutton.close {
  background-image: url("../unity/Core/Close.svg");
}
headerbar button.titlebutton.close:hover,
headerbar button.popup.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover,
.titlebar button.popup.titlebutton.close:hover {
  background-image: url("../unity/Core/CloseHover.svg");
}
headerbar button.titlebutton.maximize,
headerbar button.popup.titlebutton.maximize,
.titlebar button.titlebutton.maximize,
.titlebar button.popup.titlebutton.maximize {
  background-image: url("../unity/Core/Maximize.svg");
}
headerbar button.titlebutton.maximize:hover,
headerbar button.popup.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover,
.titlebar button.popup.titlebutton.maximize:hover {
  background-image: url("../unity/Core/MaximizeHover.svg");
}
headerbar button.titlebutton.minimize,
headerbar button.popup.titlebutton.minimize,
.titlebar button.titlebutton.minimize,
.titlebar button.popup.titlebutton.minimize {
  background-image: url("../unity/Core/Minimize.svg");
}
headerbar button.titlebutton.minimize:hover,
headerbar button.popup.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover,
.titlebar button.popup.titlebutton.minimize:hover {
  background-image: url("../unity/Core/MinimizeHover.svg");
}
headerbar button.titlebutton image,
headerbar button.popup.titlebutton image,
.titlebar button.titlebutton image,
.titlebar button.popup.titlebutton image {
  color: #000;
}
.vertical.linked > button,
.vertical.linked > button.popup {
  background-image: -gtk-gradient(linear, left top, right top, from(rgba(198,198,198,0.25)), to(rgba(126,126,126,0.25)));
  border-radius: 0em;
  border-width: 0.25px 1px;
}
.vertical.linked > button:hover,
.vertical.linked > button.popup:hover {
  background-image: -gtk-gradient(linear, left top, right top, from(#c6c6c6), to(#7e7e7e));
}
.vertical.linked > button:first-child,
.vertical.linked > button.popup:first-child {
  border-radius: 0.375em 0.375em 0em 0em;
  border-top-width: 1px;
}
.vertical.linked > button:last-child,
.vertical.linked > button.popup:last-child {
  border-radius: 0em 0em 0.375em 0.375em;
  border-bottom-width: 1px;
}
.vertical.linked > button:only-child,
.vertical.linked > button.popup:only-child {
  border-radius: 0.375em;
  border-width: 1px;
}
notebook tab button,
notebook tab button.popup {
  padding: 0.75em;
}
spinbutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border-width: 0px 0px 0px 0.25px;
  box-shadow: none;
  padding: 0em;
}
spinbutton:hover * {
  color: #00c8ff;
}
spinbutton:hover *:backdrop {
  color: #a2a2a2;
}
spinbutton.horizontal entry,
spinbutton.horizontal button {
  padding: 0.5em 0.5em;
}
spinbutton.horizontal > entry {
  border-radius: 2em 0em 0em 2em;
  padding-left: 0.75em;
}
spinbutton.horizontal > button.down {
  border-radius: 0em;
}
spinbutton.horizontal > button.up {
  border-radius: 0em 2em 2em 0em;
}
spinbutton.vertical > button.down {
  border-radius: 0em 0em 2em 2em;
}
spinbutton.vertical > button.up {
  border-radius: 2em 2em 0em 0em;
}
spinbutton.vertical > entry {
  border-radius: 0em;
  padding: 0.125em;
}
treeview {
  margin: 0em;
}
treeview header button {
  background-color: rgba(198,198,198,0.25);
  background-clip: padding-box;
  border: none;
  border-radius: 0px;
  border-top: 1px solid transparent;
}
treeview header button:first-child {
  border-radius: 2.5px 0px 0px 0px;
  border-left: 1px solid transparent;
}
treeview header button:last-child {
  border-radius: 0px 2.5px 0px 0px;
  border-right: 1px solid transparent;
}
arrow {
  color: #a2a2a2;
  min-height: 1em;
  min-width: 1em;
}
:hover arrow {
  color: #323232;
}
calendar {
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.125em;
/* INCONSISTENT - Governs any days present on the calendar that do not belong to the currently selected month. */
/* HEADER - Governs the calendar bar containing the month and year selection controls. */
/* HIGHLIGHT - Governs the list of weekdays at the top of the calendar. */
}
calendar:inconsistent {
  color: #7d7d7d;
}
calendar:selected {
  background-color: #00c8ff;
  color: #323232;
  font-weight: bold;
}
calendar:selected:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
calendar.button {
  border-radius: 0.125em;
}
calendar.button:hover {
  color: #323232;
}
calendar.header {
  background-clip: border-box;
  border-color: rgba(162,162,162,0.25);
  border-bottom-color: rgba(36,36,36,0.375);
  border-right-color: rgba(36,36,36,0.375);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(126,126,126,0.25);
  border-radius: 0.375em;
}
calendar.highlight {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #00c8ff));
  border-radius: 0em;
  color: #c8c8c8;
}
calendar.highlight:backdrop {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #a2a2a2));
  color: #898989;
}
combobox box.linked > button.combo:only-child,
combobox box.linked.horizontal > button.combo:not(:only-child):last-child {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-image: none;
  border-radius: 0.125em;
  padding: 0.375em;
}
combobox box.linked > button.combo:only-child:hover,
combobox box.linked.horizontal > button.combo:not(:only-child):last-child:hover {
  background-color: #a2a2a2;
  background-image: none;
}
combobox box.linked > button.combo:only-child:hover cellview,
combobox box.linked.horizontal > button.combo:not(:only-child):last-child:hover cellview {
  color: #323232;
}
combobox box.linked.horizontal > button.combo:not(:only-child):last-child {
  border-radius: 0em 2em 2em 0em;
}
combobox menuitem:hover cellview {
  color: #323232;
}
combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
check {
  -gtk-icon-source: url("Icons/Checkbox.svg");
}
check:checked {
  -gtk-icon-source: url("Icons/Checkbox-Checked.svg");
}
check:checked:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Backdrop.svg");
}
check:checked:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial.svg");
}
check:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial-Backdrop.svg");
}
check:insensitive {
  -gtk-icon-source: url("Icons/Checkbox-Inactive.svg");
}
check:insensitive:checked {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Inactive.svg");
}
check:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial-Inactive.svg");
}
check .cell {
  -gtk-icon-source: url("Icons/Checkbox-Small.svg");
}
check .cell:checked {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked.svg");
}
check .cell:checked:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Backdrop.svg");
}
check .cell:checked:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial.svg");
}
check .cell:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial-Backdrop.svg");
}
check .cell:insensitive {
  -gtk-icon-source: url("Icons/Checkbox-Small-Inactive.svg");
}
check .cell:insensitive:checked {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Inactive.svg");
}
check .cell:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial-Inactive.svg");
}
expander {
  -GtkExpander-expander-size: 10;
  -GtkExpander-expander-spacing: 2;
  color: #c8c8c8;
}
expander:backdrop {
  color: #a2a2a2;
}
scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  border: 1px solid transparent;
}
scrollbar slider {
  min-height: 0.5em;
  min-width: 0.5em;
  border: 2px solid transparent;
  border-radius: 2em;
}
scrollbar.horizontal slider:backdrop,
scrollbar.vertical slider:backdrop {
  background-color: #646464;
  background-image: none;
}
scrollbar.horizontal slider {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
scrollbar.vertical slider {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
scrollbar trough {
  min-width: 0.5em;
  min-height: 0.5em;
}
switch {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  border-radius: 5em;
  padding: 0.125em 0.25em;
}
switch label {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
switch slider {
  background-clip: border-box;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 5em;
  background-color: #898989;
}
switch:checked {
  background-color: #00c8ff;
  color: #323232;
}
switch:checked:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
switch:checked slider {
  background-position: right center;
}
radio {
  -gtk-icon-source: url("Icons/Radio.svg");
}
radio:checked {
  -gtk-icon-source: url("Icons/Radio-Checked.svg");
}
radio:checked:backdrop {
  -gtk-icon-source: url("Icons/Radio-Checked-Backdrop.svg");
}
radio:checked:inconsistent {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial.svg");
}
radio:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial-Backdrop.svg");
}
radio:insensitive {
  -gtk-icon-source: url("Icons/Radio-Inactive.svg");
}
radio:insensitive:checked {
  -gtk-icon-source: url("Icons/Radio-Checked-Inactive.svg");
}
radio:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial-Inactive.svg");
}
radiobutton radio,
radiobutton label,
checkbutton check,
checkbutton label {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
entry {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.5em 0.75em 0.5em 0.75em;
  text-shadow: none;
/* IMAGE - Governs any icons that appear inside of a text entry control. */
}
entry:backdrop {
  color: #898989;
}
entry selection {
  background-color: #a2a2a2;
  color: #323232;
}
entry progress {
  background-clip: border-box;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  background-size: cover;
  border-radius: 2em;
  margin: 0em;
  padding: 0em;
}
entry progress:backdrop {
  background-color: #a2a2a2;
}
.linked entry:first-child {
  border-radius: 2em 0em 0em 2em;
  padding-right: 0.25em;
}
.linked entry:last-child {
  border-radius: 0em 2em 2em 0em;
  padding-left: 0.25em;
}
entry image.left {
  padding-left: 0em;
  padding-right: 0.25em;
}
entry image.right {
  padding-left: 0.25em;
  padding-right: 0em;
}
textview {
  -GtkTextView-error-underline-color: #f00;
  background-color: rgba(24,24,24,0.5);
  border: none;
  color: #a2a2a2;
}
textview:backdrop {
  color: #898989;
}
textview text > selection {
  background-color: #a2a2a2;
  color: #323232;
}
EelEditableLabel,
EelEditableLabel entry {
  border-radius: 0.25em;
  color: #c8c8c8;
  padding: 0.125em 0.5em 0.125em 0.5em;
}
menuitem,
popover modelbutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 0.25em;
  padding: 0.5em;
}
menuitem > label,
popover modelbutton > label {
  color: #c8c8c8;
}
menuitem > label > accelerator,
popover modelbutton > label > accelerator {
  color: #898989;
}
menuitem:hover,
popover modelbutton:hover {
  background-color: #a2a2a2;
}
menuitem:hover > label,
popover modelbutton:hover > label,
menuitem:hover > label > accelerator,
popover modelbutton:hover > label > accelerator {
  color: #323232;
}
menuitem:disabled > label,
popover modelbutton:disabled > label,
menuitem:disabled > label > accelerator,
popover modelbutton:disabled > label > accelerator {
  color: #646464;
}
menubar > menuitem,
menubar > popover modelbutton {
  border-radius: 0.125em;
  padding: 0.25em 0.5em;
}
.popup,
.popup.background,
tooltip,
tooltip.background {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #c8c8c8;
}
popover,
popover.background {
  background-clip: border-box;
  border-color: rgba(198,198,198,0.125);
  border-bottom-color: rgba(36,36,36,0.125);
  border-right-color: rgba(36,36,36,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(162,162,162,0.5);
  box-shadow: 0px 0px 0px 1px #292929, -1px -1px 0px rgba(36,36,36,0.875), 3px 3px 5px rgba(0,0,0,0.25);
  background-color: #252525;
  border-radius: 0.5em;
}
notebook {
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-has-tab-gap: false;
  -GtkNotebook-initial-gap: 10;
  -GtkNotebook-tab-overlap: -5;
  -GtkNotebook-tab-fill: true;
  padding-bottom: 0.125em;
  padding-top: 0.25em;
/* HEADER - Governs the area where tabs are located for the notebook. */
}
notebook header {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 0.125em;
/* TAB - Governs the individual tabs for a notebook control. */
}
notebook header tab {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 0.5em;
}
notebook header tab:checked button,
notebook header tab:checked button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
notebook header tab:checked button > image,
notebook header tab:checked button.flat > image {
  color: #00c8ff;
}
notebook header tab:checked button:backdrop > image,
notebook header tab:checked button.flat:backdrop > image {
  color: #a2a2a2;
}
notebook header tab:checked button:hover > image,
notebook header tab:checked button.flat:hover > image {
  color: #f00;
}
notebook header tab:checked label {
  color: #00c8ff;
  border-color: #00c8ff;
}
notebook header tab:checked label:backdrop {
  color: #a2a2a2;
  border-color: #a2a2a2;
}
notebook header tab button,
notebook header tab button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 1px;
}
notebook header tab button > image,
notebook header tab button.flat > image {
  color: #a2a2a2;
}
notebook header tab button:backdrop > image,
notebook header tab button.flat:backdrop > image {
  color: #898989;
}
notebook header tab button:hover > image,
notebook header tab button.flat:hover > image {
  color: #f00;
}
notebook header.right tab:checked,
notebook header.left tab:checked {
  box-shadow: inset -7px 0px 3px -6px #00c8ff, inset -1px 0px 1px #00c8ff;
}
notebook header.right tab:checked:backdrop,
notebook header.left tab:checked:backdrop {
  box-shadow: inset -1px 0px 1px #a2a2a2;
}
notebook header.top tab:checked,
notebook header.bottom tab:checked {
  box-shadow: inset 0px -7px 3px -6px #00c8ff, inset 0px -1px 1px #00c8ff;
}
notebook header.top tab:checked:backdrop,
notebook header.bottom tab:checked:backdrop {
  box-shadow: inset 0px -1px 1px #a2a2a2;
}
UnityDecoration {
  -UnityDecoration-extents: 30px 5px 5px 5px;
  -UnityDecoration-input-extents: 10px;
  -UnityDecoration-shadow-offset-x: 2.5px;
  -UnityDecoration-shadow-offset-y: 2.5px;
  -UnityDecoration-active-shadow-color: rgba(0,0,0,0.5);
  -UnityDecoration-active-shadow-radius: 10px;
  -UnityDecoration-inactive-shadow-color: rgba(0,0,0,0.25);
  -UnityDecoration-inactive-shadow-radius: 10px;
  -UnityDecoration-glow-size: 25px;
  -UnityDecoration-glow-color: #00c8ff;
  -UnityDecoration-title-indent: 10px;
  -UnityDecoration-title-fade: 0px;
  -UnityDecoration-title-alignment: 0;
  background-clip: border-box;
  background-color: #4b4b4b;
  background-image: none;
  border: none;
  border-radius: 0em;
  color: #c8c8c8;
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
UnityDecoration:backdrop {
  background-color: #3e3e3e;
  color: #898989;
}
UnityDecoration .bottom {
  border-bottom: 1px solid rgba(36,36,36,0.125);
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0em 0em 0.5em 0.5em;
  border-right: 1px solid rgba(36,36,36,0.125);
}
UnityDecoration .left {
  border-left: 1px solid rgba(198,198,198,0.125);
}
UnityDecoration .right {
  border-right: 1px solid rgba(36,36,36,0.125);
}
UnityDecoration .top {
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0.5em 0.5em 0em 0em;
  border-right: 1px solid rgba(36,36,36,0.125);
  border-top: 1px solid rgba(198,198,198,0.125);
  padding: 0.5em;
}
UnityDecoration .top .button {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
.unity-panel {
  background-color: #252525;
  border: none;
  color: #898989;
}
.unity-panel.panel-title {
  color: transparent;
}
EShellWindow EShellSwitcher GtkEventBox {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#4b4b4b), to(#4b4b4b));
}
EShellWindow EShellSwitcher GtkEventBox:backdrop {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#3e3e3e), to(#3e3e3e));
}
EShellWindow EShellSwitcher GtkScrolledWindow {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
EPreferencesWindow GtkNotebook > GtkAlignment > GtkScrolledWindow {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
ECanvas button {
  color: #323232;
}
ECanvas button:backdrop {
  color: #323232;
}
ECalendar {
  background-image: none;
  background-color: rgba(0,0,0,0.25);
}
ECalendar button {
  border-radius: 0.125em;
}
ECalendar button GtkArrow {
  color: #a2a2a2;
}
ECalendar button:hover GtkArrow {
  color: #323232;
}
vte-terminal.terminal-screen {
  background-color: #252525;
  color: #00c8ff;
  border-radius: 0px;
}
vte-terminal.terminal-screen terminal-screen-container {
  border-radius: 0px;
}
NautilusWindow GtkPaned {
  -GtkPaned-handle-size: 2;
}
NautilusWindow .nautilus-canvas-item {
  border-radius: 0.5em;
}
NautilusWindow .nautilus-canvas-item:active {
  background-color: #9632ff;
}
NautilusWindow .nautilus-canvas-item:prelight,
NautilusWindow .nautilus-canvas-item:selected {
  background-color: rgba(0,200,255,0.75);
  color: #323232;
}
NautilusWindow .nautilus-canvas-item:prelight:backdrop,
NautilusWindow .nautilus-canvas-item:selected:backdrop {
  background-color: rgba(162,162,162,0.75);
}
NautilusWindow .nautilus-canvas-item.nautilus-desktop,
NautilusWindow .nautilus-canvas-item.nautilus-desktop:backdrop {
  color: #fff;
}
GtkWindow .section-sel-bg button.flat:checked {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#4b4b4b), to(#4b4b4b));
}
GtkWindow .section-sel-bg button.flat:checked .symbolic-icon,
GtkWindow .section-sel-bg button.flat:checked GtkLabel {
  color: #00c8ff;
  font-weight: bold;
}
GtkWindow .section-sel-bg button.flat:checked:backdrop {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#3e3e3e), to(#3e3e3e));
}
GtkWindow .section-sel-bg button.flat:checked:backdrop .symbolic-icon,
GtkWindow .section-sel-bg button.flat:checked:backdrop GtkLabel {
  color: #a2a2a2;
}
