/** DEFAULTS **/
*,
GtkWidget,
.view,
GtkPaned,
.sidebar,
GtkPlacesSidebar,
.sidebar .list .sidebar-item,
GtkPlacesSidebar .list .sidebar-item,
.sidebar .list .sidebar-item.button,
GtkPlacesSidebar .list .sidebar-item.button,
.sidebar GtkScrolledWindow,
GtkPlacesSidebar GtkScrolledWindow,
.list .list-row,
.list .list-row.button,
.button {
  -GtkWidget-background-color: transparent;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-link-color: #00c864;
  -GtkWidget-separator-height: 2;
  -GtkWidget-separator-width: 2;
  -GtkWidget-visited-link-color: #00c864;
  -GtkWidget-wide-separators: true;
  background-color: transparent;
  background-clip: padding-box;
  background-image: none;
  border: none;
  border-image: none;
  border-radius: 0em;
  box-shadow: none;
  color: #a2a2a2;
  outline-color: transparent;
  outline-offset: 0px;
}
*:backdrop,
GtkWidget:backdrop,
.view:backdrop,
GtkPaned:backdrop,
.sidebar:backdrop,
GtkPlacesSidebar:backdrop,
.sidebar .list .sidebar-item:backdrop,
GtkPlacesSidebar .list .sidebar-item:backdrop,
.sidebar .list .sidebar-item.button:backdrop,
GtkPlacesSidebar .list .sidebar-item.button:backdrop,
.sidebar GtkScrolledWindow:backdrop,
GtkPlacesSidebar GtkScrolledWindow:backdrop,
.list .list-row:backdrop,
.list .list-row.button:backdrop,
.button:backdrop {
  color: #898989;
}
.background,
GtkApplicationWindow,
GtkWindow,
.csd,
.solid-csd {
  -GtkWindow-decoration-button-layout: "close:";
  -GtkWindow-resize-handle: 5;
  background-color: #4b4b4b;
  background-clip: border-box;
  background-image: none;
}
.background:backdrop,
GtkApplicationWindow:backdrop,
GtkWindow:backdrop,
.csd:backdrop,
.solid-csd:backdrop {
  background-color: #3e3e3e;
}
.csd.window-frame,
.csd.window-frame:backdrop {
  background-clip: border-box;
  background-clip: border-box;
  border-color: rgba(162,162,162,0.125);
  border-bottom-color: rgba(0,0,0,0.125);
  border-right-color: rgba(0,0,0,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,0.375);
}
.csd.background {
  background-clip: border-box;
  border-color: rgba(162,162,162,0.125);
  border-bottom-color: rgba(0,0,0,0.125);
  border-right-color: rgba(0,0,0,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0em 0em 0.5em 0.5em;
  border-top: none;
}
.csd .titlebar.header-bar {
  padding: 0.75em 0.75em 0px 0.75em;
}
.solid-csd.window-frame,
.solid-csd.window-frame:backdrop {
  background-clip: border-box;
  border-color: rgba(162,162,162,0.125);
  border-bottom-color: rgba(0,0,0,0.125);
  border-right-color: rgba(0,0,0,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  box-shadow: none;
  margin: 0em 0.25em 0.25em 0.25em;
}
.dnd {
  border: 1px solid #00c8ff;
}
.overshoot,
.undershoot {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.popup,
.popup.background,
.tooltip,
.tooltip.background {
  background-clip: border-box;
  border-color: rgba(198,198,198,0.125);
  border-bottom-color: rgba(36,36,36,0.125);
  border-right-color: rgba(36,36,36,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(162,162,162,0.5);
  box-shadow: 0px 0px 0px 1px #292929, -1px -1px 0px rgba(36,36,36,0.875), 3px 3px 5px rgba(0,0,0,0.25);
  background-color: #252525;
  border-radius: 0.5em;
  color: #bbb;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.popover,
.popover.background {
  background-clip: border-box;
  border-color: rgba(198,198,198,0.125);
  border-bottom-color: rgba(36,36,36,0.125);
  border-right-color: rgba(36,36,36,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(162,162,162,0.5);
  box-shadow: 0px 0px 0px 1px #292929, -1px -1px 0px rgba(36,36,36,0.875), 3px 3px 5px rgba(0,0,0,0.25);
  background-color: #252525;
  border-radius: 0.5em;
  color: #bbb;
}
.view,
.sidebar,
GtkPlacesSidebar {
  -GtkTreeView-expander-size: 10;
  -GtkTreeView-indent-expanders: true;
  -GtkTreeView-vertical-separator: 0;
  padding: 0.25em;
}
.view .cell:selected,
.sidebar .cell:selected,
GtkPlacesSidebar .cell:selected,
.view row:selected,
.sidebar row:selected,
GtkPlacesSidebar row:selected {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  color: #323232;
}
.view .cell:selected:backdrop,
.sidebar .cell:selected:backdrop,
GtkPlacesSidebar .cell:selected:backdrop,
.view row:selected:backdrop,
.sidebar row:selected:backdrop,
GtkPlacesSidebar row:selected:backdrop {
  background-color: #a2a2a2;
  background-image: none;
  color: #323232;
}
GtkPaned {
  -GtkPaned-handle-size: 5;
}
NautilusWindow GtkPaned {
  -GtkPaned-handle-size: 1;
}
.sidebar,
GtkPlacesSidebar {
  font: bold;
  padding: 0em;
}
.sidebar .view,
GtkPlacesSidebar .view {
  padding: 0.5em;
}
.sidebar .list .separator,
GtkPlacesSidebar .list .separator {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
}
.sidebar .list .sidebar-item,
GtkPlacesSidebar .list .sidebar-item,
.sidebar .list .sidebar-item.button,
GtkPlacesSidebar .list .sidebar-item.button,
.list .list-row,
.list .list-row.button {
  color: #a2a2a2;
}
.sidebar .list .sidebar-item GtkImage,
GtkPlacesSidebar .list .sidebar-item GtkImage,
.sidebar .list .sidebar-item.button GtkImage,
GtkPlacesSidebar .list .sidebar-item.button GtkImage,
.list .list-row GtkImage,
.list .list-row.button GtkImage,
.sidebar .list .sidebar-item GtkLabel,
GtkPlacesSidebar .list .sidebar-item GtkLabel,
.sidebar .list .sidebar-item.button GtkLabel,
GtkPlacesSidebar .list .sidebar-item.button GtkLabel,
.list .list-row GtkLabel,
.list .list-row.button GtkLabel {
  color: #a2a2a2;
}
.sidebar .list .sidebar-item:selected,
GtkPlacesSidebar .list .sidebar-item:selected,
.sidebar .list .sidebar-item.button:selected,
GtkPlacesSidebar .list .sidebar-item.button:selected,
.list .list-row:selected,
.list .list-row.button:selected {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  color: #323232;
}
.sidebar .list .sidebar-item:selected GtkImage,
GtkPlacesSidebar .list .sidebar-item:selected GtkImage,
.sidebar .list .sidebar-item.button:selected GtkImage,
GtkPlacesSidebar .list .sidebar-item.button:selected GtkImage,
.list .list-row:selected GtkImage,
.list .list-row.button:selected GtkImage,
.sidebar .list .sidebar-item:selected GtkLabel,
GtkPlacesSidebar .list .sidebar-item:selected GtkLabel,
.sidebar .list .sidebar-item.button:selected GtkLabel,
GtkPlacesSidebar .list .sidebar-item.button:selected GtkLabel,
.list .list-row:selected GtkLabel,
.list .list-row.button:selected GtkLabel {
  color: #323232;
}
.sidebar .list .sidebar-item:selected:backdrop,
GtkPlacesSidebar .list .sidebar-item:selected:backdrop,
.sidebar .list .sidebar-item.button:selected:backdrop,
GtkPlacesSidebar .list .sidebar-item.button:selected:backdrop,
.list .list-row:selected:backdrop,
.list .list-row.button:selected:backdrop {
  background-color: #a2a2a2;
  background-image: none;
  color: #323232;
}
.sidebar .list .sidebar-item:selected:backdrop GtkImage,
GtkPlacesSidebar .list .sidebar-item:selected:backdrop GtkImage,
.sidebar .list .sidebar-item.button:selected:backdrop GtkImage,
GtkPlacesSidebar .list .sidebar-item.button:selected:backdrop GtkImage,
.list .list-row:selected:backdrop GtkImage,
.list .list-row.button:selected:backdrop GtkImage,
.sidebar .list .sidebar-item:selected:backdrop GtkLabel,
GtkPlacesSidebar .list .sidebar-item:selected:backdrop GtkLabel,
.sidebar .list .sidebar-item.button:selected:backdrop GtkLabel,
GtkPlacesSidebar .list .sidebar-item.button:selected:backdrop GtkLabel,
.list .list-row:selected:backdrop GtkLabel,
.list .list-row.button:selected:backdrop GtkLabel {
  color: #323232;
}
.list .separator.horizontal,
.list .separator.vertical {
  color: transparent;
}
GtkScrolledWindow {
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: true;
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.375);
  box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.5);
  border-radius: 0.25em;
  padding: 1px;
}
.rubberband {
  background-color: rgba(162,162,162,0.5);
  border: 1px solid #a2a2a2;
  border-radius: 0.25em;
}
.trough,
.progressbar.horizontal.trough,
GtkProgressBar.horizontal.trough,
GtkProgressBar.progressbar.horizontal.trough,
.progressbar.horizontal.trough:backdrop,
GtkProgressBar.horizontal.trough:backdrop,
GtkProgressBar.progressbar.horizontal.trough:backdrop,
.progressbar.vertical.trough,
GtkProgressBar.vertical.trough,
GtkProgressBar.progressbar.vertical.trough,
.progressbar.vertical.trough:backdrop,
GtkProgressBar.vertical.trough:backdrop,
GtkProgressBar.progressbar.vertical.trough:backdrop,
.level-bar.indicator-discrete.fill-block,
GtkLevelBar.indicator-discrete.fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block,
.scale.trough,
GtkScale.trough,
GtkScale.scale.trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
  background-image: none;
  border-radius: 2em;
  padding: 0.125em;
}
.trough row:selected:focused,
.progressbar.horizontal.trough row:selected:focused,
GtkProgressBar.horizontal.trough row:selected:focused,
GtkProgressBar.progressbar.horizontal.trough row:selected:focused,
.progressbar.horizontal.trough:backdrop row:selected:focused,
GtkProgressBar.horizontal.trough:backdrop row:selected:focused,
GtkProgressBar.progressbar.horizontal.trough:backdrop row:selected:focused,
.progressbar.vertical.trough row:selected:focused,
GtkProgressBar.vertical.trough row:selected:focused,
GtkProgressBar.progressbar.vertical.trough row:selected:focused,
.progressbar.vertical.trough:backdrop row:selected:focused,
GtkProgressBar.vertical.trough:backdrop row:selected:focused,
GtkProgressBar.progressbar.vertical.trough:backdrop row:selected:focused,
.level-bar.indicator-discrete.fill-block row:selected:focused,
GtkLevelBar.indicator-discrete.fill-block row:selected:focused,
GtkLevelBar.level-bar.indicator-discrete.fill-block row:selected:focused,
.scale.trough row:selected:focused,
GtkScale.trough row:selected:focused,
GtkScale.scale.trough row:selected:focused {
  background-color: #323232;
  background-image: none;
  color: #a2a2a2;
}
.progressbar,
GtkProgressBar,
GtkProgressBar.progressbar {
  -GtkProgressBar-min-horizontal-bar-height: 15;
  -GtkProgressBar-min-vertical-bar-width: 15;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
  border: 1px solid transparent;
  border-radius: 2em;
}
.progressbar:backdrop,
GtkProgressBar:backdrop,
GtkProgressBar.progressbar:backdrop {
  background-color: #a2a2a2;
  background-image: none;
  color: #323232;
}
.progressbar.horizontal,
GtkProgressBar.horizontal,
GtkProgressBar.progressbar.horizontal {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.progressbar.horizontal:backdrop,
GtkProgressBar.horizontal:backdrop,
GtkProgressBar.progressbar.horizontal:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.progressbar.vertical,
GtkProgressBar.vertical,
GtkProgressBar.progressbar.vertical {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
.progressbar.vertical:backdrop,
GtkProgressBar.vertical:backdrop,
GtkProgressBar.progressbar.vertical:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.level-bar.horizontal,
GtkLevelBar.horizontal,
GtkLevelBar.level-bar.horizontal {
  -GtkLevelBar-min-block-height: 15;
  -GtkLevelBar-min-block-width: 3;
}
.level-bar.vertical,
GtkLevelBar.vertical,
GtkLevelBar.level-bar.vertical {
  -GtkLevelBar-min-block-height: 3;
  -GtkLevelBar-min-block-width: 15;
}
.level-bar.indicator-continuous.fill-block,
GtkLevelBar.indicator-continuous.fill-block,
GtkLevelBar.level-bar.indicator-continuous.fill-block {
  border-radius: 2em;
}
.level-bar.indicator-continuous.fill-block.horizontal,
GtkLevelBar.indicator-continuous.fill-block.horizontal,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.level-bar.indicator-continuous.fill-block.horizontal:backdrop,
GtkLevelBar.indicator-continuous.fill-block.horizontal:backdrop,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.level-bar.indicator-continuous.fill-block.horizontal.empty-fill-block,
GtkLevelBar.indicator-continuous.fill-block.horizontal.empty-fill-block,
GtkLevelBar.level-bar.indicator-continuous.fill-block.horizontal.empty-fill-block {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.level-bar.indicator-discrete.fill-block.horizontal.level-high,
GtkLevelBar.indicator-discrete.fill-block.horizontal.level-high,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.level-high {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#12ff88), to(#007f40));
}
.level-bar.indicator-discrete.fill-block.horizontal.level-low,
GtkLevelBar.indicator-discrete.fill-block.horizontal.level-low,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.level-low {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ff4949), to(#b60000));
}
.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block,
GtkLevelBar.indicator-discrete.fill-block.horizontal.empty-fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block,
.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop,
GtkLevelBar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop,
GtkLevelBar.level-bar.indicator-discrete.fill-block.horizontal.empty-fill-block:backdrop {
  background-image: none;
}
.level-bar.indicator-discrete.fill-block.vertical.level-high,
GtkLevelBar.indicator-discrete.fill-block.vertical.level-high,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.level-high {
  background-image: -gtk-gradient(linear, left top, right top, from(#12ff88), to(#007f40));
}
.level-bar.indicator-discrete.fill-block.vertical.level-low,
GtkLevelBar.indicator-discrete.fill-block.vertical.level-low,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.level-low {
  background-image: -gtk-gradient(linear, left top, right top, from(#ff4949), to(#b60000));
}
.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block,
GtkLevelBar.indicator-discrete.fill-block.vertical.empty-fill-block,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block,
.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop,
GtkLevelBar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop,
GtkLevelBar.level-bar.indicator-discrete.fill-block.vertical.empty-fill-block:backdrop {
  background-image: none;
}
.level-bar.indicator-discrete.trough,
GtkLevelBar.indicator-discrete.trough,
GtkLevelBar.level-bar.indicator-discrete.trough {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}
.scale,
GtkScale,
GtkScale.scale {
  -GtkRange-slider-width: 20;
  -GtkRange-trough-border: 0;
  -GtkScale-slider-length: 20;
  -GtkWidget-focus-line-width: 0;
}
.scale.horizontal,
GtkScale.horizontal,
GtkScale.scale.horizontal {
  margin: 0.25em 0em 0.25em 0em;
}
.scale.horizontal.trough.highlight,
GtkScale.horizontal.trough.highlight,
GtkScale.scale.horizontal.trough.highlight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
}
.scale.mark,
GtkScale.mark,
GtkScale.scale.mark {
  color: #898989;
}
.scale.slider.horizontal,
GtkScale.slider.horizontal,
GtkScale.scale.slider.horizontal,
.scale.slider.vertical,
GtkScale.slider.vertical,
GtkScale.scale.slider.vertical {
  margin: 0px;
  background-clip: border-box;
  background-image: -gtk-scaled(url("Icons/Slider.svg"));
}
.scale.slider.horizontal:backdrop,
GtkScale.slider.horizontal:backdrop,
GtkScale.scale.slider.horizontal:backdrop,
.scale.slider.vertical:backdrop,
GtkScale.slider.vertical:backdrop,
GtkScale.scale.slider.vertical:backdrop {
  background-image: -gtk-scaled(url("Icons/Slider-Backdrop.svg"));
}
.scale.trough.highlight:backdrop,
GtkScale.trough.highlight:backdrop,
GtkScale.scale.trough.highlight:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.scale.vertical,
GtkScale.vertical,
GtkScale.scale.vertical {
  margin: 0em 0.25em 0em 0.25em;
}
.scale.vertical.trough.highlight,
GtkScale.vertical.trough.highlight,
GtkScale.scale.vertical.trough.highlight {
  background-image: -gtk-gradient(linear, left top, right top, from(#008fb6), to(#49d8ff));
}
.scale.vertical.trough.highlight:backdrop,
GtkScale.vertical.trough.highlight:backdrop,
GtkScale.scale.vertical.trough.highlight:backdrop {
  background-color: #a2a2a2;
  background-image: none;
}
.separator.horizontal,
.menuitem.separator,
GtkImageMenuItem.separator,
.button:checked .menuitem.separator,
.menuitem:hover .menuitem.separator,
.menuitem.button.flat.separator,
.button:checked .menuitem:active.separator,
.menuitem:hover .menuitem:active.separator,
.menuitem.button.flat:active.separator,
.button:checked .menuitem:checked.separator,
.menuitem:hover .menuitem:checked.separator,
.menuitem.button.flat:checked.separator,
.button:checked .menuitem:active:checked.separator,
.menuitem:hover .menuitem:active:checked.separator,
.menuitem.button.flat:active:checked.separator {
  border-image: -gtk-scaled(url("Icons/Separator-Horizontal.svg")) 1 0 1 0/1px 0px 1px 0px stretch;
}
.separator.vertical {
  border-image: -gtk-scaled(url("Icons/Separator-Vertical.svg")) 0 1 0 1/0px 1px 0px 1px stretch;
}
.button {
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(198,198,198,0.25)), to(rgba(126,126,126,0.25)));
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.375);
  padding: 1em;
/* ACTIVE - Controls buttons currently undergoing a mouse click.
     *
     * CHECKED - Controls toggle-like buttons that have been pressed.
     */
}
.button:active,
.button:checked,
.button.flat:active,
.button.flat:checked,
column-header .button:active,
column-header .button:checked,
GtkCalendar.button:active,
GtkCalendar.button:checked,
ECanvas.button:active,
ECanvas.button:checked,
ECalendar .button:active,
ECalendar .button:checked {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  background-image: -gtk-gradient(linear, left top, left bottom, from(#008fb6), to(#49d8ff));
  color: #323232;
}
.button:active GtkImage,
.button:checked GtkImage,
.button.flat:active GtkImage,
.button.flat:checked GtkImage,
column-header .button:active GtkImage,
column-header .button:checked GtkImage,
GtkCalendar.button:active GtkImage,
GtkCalendar.button:checked GtkImage,
ECanvas.button:active GtkImage,
ECanvas.button:checked GtkImage,
ECalendar .button:active GtkImage,
ECalendar .button:checked GtkImage,
.button:active GtkLabel,
.button:checked GtkLabel,
.button.flat:active GtkLabel,
.button.flat:checked GtkLabel,
column-header .button:active GtkLabel,
column-header .button:checked GtkLabel,
GtkCalendar.button:active GtkLabel,
GtkCalendar.button:checked GtkLabel,
ECanvas.button:active GtkLabel,
ECanvas.button:checked GtkLabel,
ECalendar .button:active GtkLabel,
ECalendar .button:checked GtkLabel {
  color: #323232;
}
.button:active:backdrop,
.button:checked:backdrop,
.button.flat:active:backdrop,
.button.flat:checked:backdrop,
column-header .button:active:backdrop,
column-header .button:checked:backdrop,
GtkCalendar.button:active:backdrop,
GtkCalendar.button:checked:backdrop,
ECanvas.button:active:backdrop,
ECanvas.button:checked:backdrop,
ECalendar .button:active:backdrop,
ECalendar .button:checked:backdrop,
.button:active:hover,
.button:checked:hover,
.button.flat:active:hover,
.button.flat:checked:hover,
column-header .button:active:hover,
column-header .button:checked:hover,
GtkCalendar.button:active:hover,
GtkCalendar.button:checked:hover,
ECanvas.button:active:hover,
ECanvas.button:checked:hover,
ECalendar .button:active:hover,
ECalendar .button:checked:hover,
.button:active:prelight,
.button:checked:prelight,
.button.flat:active:prelight,
.button.flat:checked:prelight,
column-header .button:active:prelight,
column-header .button:checked:prelight,
GtkCalendar.button:active:prelight,
GtkCalendar.button:checked:prelight,
ECanvas.button:active:prelight,
ECanvas.button:checked:prelight,
ECalendar .button:active:prelight,
ECalendar .button:checked:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#7e7e7e), to(#c6c6c6));
  color: #323232;
}
.button:active:backdrop GtkImage,
.button:checked:backdrop GtkImage,
.button.flat:active:backdrop GtkImage,
.button.flat:checked:backdrop GtkImage,
column-header .button:active:backdrop GtkImage,
column-header .button:checked:backdrop GtkImage,
GtkCalendar.button:active:backdrop GtkImage,
GtkCalendar.button:checked:backdrop GtkImage,
ECanvas.button:active:backdrop GtkImage,
ECanvas.button:checked:backdrop GtkImage,
ECalendar .button:active:backdrop GtkImage,
ECalendar .button:checked:backdrop GtkImage,
.button:active:hover GtkImage,
.button:checked:hover GtkImage,
.button.flat:active:hover GtkImage,
.button.flat:checked:hover GtkImage,
column-header .button:active:hover GtkImage,
column-header .button:checked:hover GtkImage,
GtkCalendar.button:active:hover GtkImage,
GtkCalendar.button:checked:hover GtkImage,
ECanvas.button:active:hover GtkImage,
ECanvas.button:checked:hover GtkImage,
ECalendar .button:active:hover GtkImage,
ECalendar .button:checked:hover GtkImage,
.button:active:prelight GtkImage,
.button:checked:prelight GtkImage,
.button.flat:active:prelight GtkImage,
.button.flat:checked:prelight GtkImage,
column-header .button:active:prelight GtkImage,
column-header .button:checked:prelight GtkImage,
GtkCalendar.button:active:prelight GtkImage,
GtkCalendar.button:checked:prelight GtkImage,
ECanvas.button:active:prelight GtkImage,
ECanvas.button:checked:prelight GtkImage,
ECalendar .button:active:prelight GtkImage,
ECalendar .button:checked:prelight GtkImage,
.button:active:backdrop GtkLabel,
.button:checked:backdrop GtkLabel,
.button.flat:active:backdrop GtkLabel,
.button.flat:checked:backdrop GtkLabel,
column-header .button:active:backdrop GtkLabel,
column-header .button:checked:backdrop GtkLabel,
GtkCalendar.button:active:backdrop GtkLabel,
GtkCalendar.button:checked:backdrop GtkLabel,
ECanvas.button:active:backdrop GtkLabel,
ECanvas.button:checked:backdrop GtkLabel,
ECalendar .button:active:backdrop GtkLabel,
ECalendar .button:checked:backdrop GtkLabel,
.button:active:hover GtkLabel,
.button:checked:hover GtkLabel,
.button.flat:active:hover GtkLabel,
.button.flat:checked:hover GtkLabel,
column-header .button:active:hover GtkLabel,
column-header .button:checked:hover GtkLabel,
GtkCalendar.button:active:hover GtkLabel,
GtkCalendar.button:checked:hover GtkLabel,
ECanvas.button:active:hover GtkLabel,
ECanvas.button:checked:hover GtkLabel,
ECalendar .button:active:hover GtkLabel,
ECalendar .button:checked:hover GtkLabel,
.button:active:prelight GtkLabel,
.button:checked:prelight GtkLabel,
.button.flat:active:prelight GtkLabel,
.button.flat:checked:prelight GtkLabel,
column-header .button:active:prelight GtkLabel,
column-header .button:checked:prelight GtkLabel,
GtkCalendar.button:active:prelight GtkLabel,
GtkCalendar.button:checked:prelight GtkLabel,
ECanvas.button:active:prelight GtkLabel,
ECanvas.button:checked:prelight GtkLabel,
ECalendar .button:active:prelight GtkLabel,
ECalendar .button:checked:prelight GtkLabel {
  color: #323232;
}
.button.flat,
column-header .button,
GtkCalendar.button,
ECanvas.button,
ECalendar .button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid transparent;
  border-radius: 0.25em;
}
.button.flat:hover,
column-header .button:hover,
GtkCalendar.button:hover,
ECanvas.button:hover,
ECalendar .button:hover,
.button.flat:prelight,
column-header .button:prelight,
GtkCalendar.button:prelight,
ECanvas.button:prelight,
ECalendar .button:prelight {
  background-color: #a2a2a2;
  background-image: none;
  box-shadow: none;
}
.button:focus {
  color: #3296ff;
}
.button:focus GtkImage,
.button:focus GtkLabel {
  color: #3296ff;
}
.button:hover,
.button:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#c6c6c6), to(#7e7e7e));
  color: #323232;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.875);
}
.button:hover GtkImage,
.button:prelight GtkImage,
.button:hover GtkLabel,
.button:prelight GtkLabel {
  color: #323232;
}
.button.spinbutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-width: 0px 0px 0px 0.25px;
  box-shadow: none;
}
.button.spinbutton:hover {
  color: #00c8ff;
}
.button.spinbutton:hover:backdrop {
  color: #a2a2a2;
}
.button.spinbutton:last-child {
  border-radius: 0em 2em 2em 0em;
}
.vertical.linked > .button {
  background-image: -gtk-gradient(linear, left top, right top, from(rgba(198,198,198,0.25)), to(rgba(126,126,126,0.25)));
  border-radius: 0em;
  border-width: 0.25px 1px;
}
.vertical.linked > .button:hover {
  background-image: -gtk-gradient(linear, left top, right top, from(#c6c6c6), to(#7e7e7e));
}
.vertical.linked > .button:first-child {
  border-radius: 0.5em 0.5em 0em 0em;
  border-top-width: 1px;
}
.vertical.linked > .button:last-child {
  border-radius: 0em 0em 0.5em 0.5em;
  border-bottom-width: 1px;
}
.vertical.linked > .button:only-child {
  border-radius: 0.5em;
  border-width: 1px;
}
.linked > .button,
.horizontal.linked > .button {
  border-radius: 0em;
  border-width: 1px 0.25px;
}
.linked > .button:first-child,
.horizontal.linked > .button:first-child {
  border-radius: 0.5em 0em 0em 0.5em;
  border-left-width: 1px;
}
.linked > .button:last-child,
.horizontal.linked > .button:last-child {
  border-radius: 0px 0.5em 0.5em 0px;
  border-right-width: 1px;
}
.linked > .button:only-child,
.horizontal.linked > .button:only-child {
  border-radius: 0.5em;
  border-width: 1px;
}
column-header .button {
  background-color: rgba(198,198,198,0.25);
  background-clip: padding-box;
  border: none;
  border-radius: 0px;
  border-top: 1px solid transparent;
}
column-header:first-child .button {
  border-radius: 2.5px 0px 0px 0px;
  border-left: 1px solid transparent;
}
column-header:last-child .button {
  border-radius: 0px 2.5px 0px 0px;
  border-right: 1px solid transparent;
}
.csd .titlebar.header-bar .stack-switcher,
.solid-csd .titlebar.header-bar .stack-switcher {
  margin-top: 0.5em;
}
.csd .titlebar.header-bar .button.titlebutton,
.solid-csd .titlebar.header-bar .button.titlebutton {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  padding: 0px;
}
.csd .titlebar.header-bar .button.titlebutton.close:backdrop,
.solid-csd .titlebar.header-bar .button.titlebutton.close:backdrop,
.csd .titlebar.header-bar .button.titlebutton.maximize:backdrop,
.solid-csd .titlebar.header-bar .button.titlebutton.maximize:backdrop,
.csd .titlebar.header-bar .button.titlebutton.minimize:backdrop,
.solid-csd .titlebar.header-bar .button.titlebutton.minimize:backdrop {
  background-image: -gtk-scaled(url("../unity/Core/Button.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.close,
.solid-csd .titlebar.header-bar .button.titlebutton.close {
  background-image: -gtk-scaled(url("../unity/Core/Close.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.close:hover,
.solid-csd .titlebar.header-bar .button.titlebutton.close:hover {
  background-image: -gtk-scaled(url("../unity/Core/CloseHover.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.maximize,
.solid-csd .titlebar.header-bar .button.titlebutton.maximize {
  background-image: -gtk-scaled(url("../unity/Core/Maximize.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.maximize:hover,
.solid-csd .titlebar.header-bar .button.titlebutton.maximize:hover {
  background-image: -gtk-scaled(url("../unity/Core/MaximizeHover.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.minimize,
.solid-csd .titlebar.header-bar .button.titlebutton.minimize {
  background-image: -gtk-scaled(url("../unity/Core/Minimize.svg"));
}
.csd .titlebar.header-bar .button.titlebutton.minimize:hover,
.solid-csd .titlebar.header-bar .button.titlebutton.minimize:hover {
  background-image: -gtk-scaled(url("../unity/Core/MinimizeHover.svg"));
}
.csd .titlebar.header-bar .button.titlebutton GtkImage,
.solid-csd .titlebar.header-bar .button.titlebutton GtkImage {
  color: transparent;
}
GtkArrow {
  -GtkArrow-arrow-scaling: 0.6;
  color: #a2a2a2;
}
GtkArrow:hover {
  color: #323232;
}
GtkCalendar {
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.125em;
/* INCONSISTENT - Governs any days present on the calendar that do not belong to the currently selected month. */
/* HEADER - Governs the calendar bar containing the month and year selection controls. */
/* HIGHLIGHT - Governs the list of weekdays at the top of the calendar. */
}
GtkCalendar:inconsistent {
  color: #7d7d7d;
}
GtkCalendar:selected {
  background-color: #00c8ff;
  color: #323232;
  font-weight: bold;
}
GtkCalendar:selected:backdrop {
  background-color: #a2a2a2;
  color: #323232;
}
GtkCalendar.button {
  border-radius: 0.125em;
}
GtkCalendar.button:hover {
  color: #323232;
}
GtkCalendar.header {
  background-clip: border-box;
  border-color: rgba(162,162,162,0.25);
  border-bottom-color: rgba(36,36,36,0.375);
  border-right-color: rgba(36,36,36,0.375);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(126,126,126,0.25);
  border-radius: 0.375em;
}
GtkCalendar.highlight {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #00c8ff));
  border-radius: 0em;
  color: #c8c8c8;
}
GtkCalendar.highlight:backdrop {
  background-color: transparent;
  background-image: -gtk-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.875, transparent), color-stop(1, #a2a2a2));
  color: #898989;
}
GtkComboBox.combobox-entry .entry {
  border-radius: 2em 0em 0em 2em;
}
GtkComboBox.combobox-entry .button {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 0em 2em 2em 0em;
  padding: 0.375em;
}
GtkComboBox .button,
.horizontal.linked GtkComboBox .button,
.vertical.linked GtkComboBox .button,
.horizontal.linked GtkComboBox .button:first-child,
.vertical.linked GtkComboBox .button:first-child,
.horizontal.linked GtkComboBox .button:last-child,
.vertical.linked GtkComboBox .button:last-child,
.horizontal.linked GtkComboBox .button:only-child,
.vertical.linked GtkComboBox .button:only-child {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 0.25em;
  padding: 0.5em;
}
GtkComboBox .button:hover,
.horizontal.linked GtkComboBox .button:hover,
.vertical.linked GtkComboBox .button:hover,
.horizontal.linked GtkComboBox .button:first-child:hover,
.vertical.linked GtkComboBox .button:first-child:hover,
.horizontal.linked GtkComboBox .button:last-child:hover,
.vertical.linked GtkComboBox .button:last-child:hover,
.horizontal.linked GtkComboBox .button:only-child:hover,
.vertical.linked GtkComboBox .button:only-child:hover,
GtkComboBox .button:prelight,
.horizontal.linked GtkComboBox .button:prelight,
.vertical.linked GtkComboBox .button:prelight,
.horizontal.linked GtkComboBox .button:first-child:prelight,
.vertical.linked GtkComboBox .button:first-child:prelight,
.horizontal.linked GtkComboBox .button:last-child:prelight,
.vertical.linked GtkComboBox .button:last-child:prelight,
.horizontal.linked GtkComboBox .button:only-child:prelight,
.vertical.linked GtkComboBox .button:only-child:prelight {
  background-color: #a2a2a2;
  background-image: none;
}
GtkComboBox .cell:hover {
  color: #323232;
}
GtkComboBox .menuitem:hover * {
  color: #323232;
}
.check {
  -gtk-icon-source: url("Icons/Checkbox.svg");
}
.check:checked {
  -gtk-icon-source: url("Icons/Checkbox-Checked.svg");
}
.check:checked:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Backdrop.svg");
}
.check:checked:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial.svg");
}
.check:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial-Backdrop.svg");
}
.check:insensitive {
  -gtk-icon-source: url("Icons/Checkbox-Inactive.svg");
}
.check:insensitive:checked {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Inactive.svg");
}
.check:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Checked-Partial-Inactive.svg");
}
.check .cell {
  -gtk-icon-source: url("Icons/Checkbox-Small.svg");
}
.check .cell:checked {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked.svg");
}
.check .cell:checked:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Backdrop.svg");
}
.check .cell:checked:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial.svg");
}
.check .cell:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial-Backdrop.svg");
}
.check .cell:insensitive {
  -gtk-icon-source: url("Icons/Checkbox-Small-Inactive.svg");
}
.check .cell:insensitive:checked {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Inactive.svg");
}
.check .cell:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Checkbox-Small-Checked-Partial-Inactive.svg");
}
.expander,
GtkExpander,
GtkExpander.expander {
  -GtkExpander-expander-size: 10;
  -GtkExpander-expander-spacing: 2;
  color: #c8c8c8;
}
.expander:backdrop,
GtkExpander:backdrop,
GtkExpander.expander:backdrop {
  color: #a2a2a2;
}
.scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkScrollbar-min-slider-length: 30;
  border: 1px solid transparent;
  border-radius: 2em;
}
.scrollbar.slider {
  border: 2px solid transparent;
}
.scrollbar.slider.horizontal,
.scrollbar.slider.horizontal:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.scrollbar.slider.horizontal:backdrop,
.scrollbar.slider.horizontal:hover:backdrop {
  background-color: #646464;
  background-image: none;
}
.scrollbar.slider.vertical,
.scrollbar.slider.vertical:hover {
  background-image: -gtk-gradient(linear, left top, right top, from(#49d8ff), to(#008fb6));
}
.scrollbar.slider.vertical:backdrop,
.scrollbar.slider.vertical:hover:backdrop {
  background-color: #646464;
  background-image: none;
}
.scrollbar.trough {
  background-clip: padding-box;
  border-color: rgba(36,36,36,0.125);
  border-bottom-color: rgba(198,198,198,0.125);
  border-right-color: rgba(198,198,198,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(36,36,36,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.375);
}
.scrollbars-junction,
.scrollbars-junction:backdrop {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
GtkSwitch {
  -GtkSwitch-slider-width: 48;
}
GtkSwitch.trough,
GtkSwitch.slider {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
}
GtkSwitch.slider {
  background-image: -gtk-scaled(url("Icons/Switch-Slider.svg"));
}
GtkSwitch.slider:active {
  background-image: -gtk-scaled(url("Icons/Switch-Slider-On.svg"));
}
GtkSwitch.slider:active:backdrop {
  background-image: -gtk-scaled(url("Icons/Switch-Slider.svg"));
}
GtkSwitch.trough {
  background-image: -gtk-scaled(url("Icons/Switch-Trough.svg"));
}
GtkSwitch.trough:active {
  background-image: -gtk-scaled(url("Icons/Switch-Trough-On.svg"));
}
GtkSwitch.trough:active:backdrop {
  background-image: -gtk-scaled(url("Icons/Switch-Trough-On-Backdrop.svg"));
}
.radio {
  -gtk-icon-source: url("Icons/Radio.svg");
}
.radio:checked {
  -gtk-icon-source: url("Icons/Radio-Checked.svg");
}
.radio:checked:backdrop {
  -gtk-icon-source: url("Icons/Radio-Checked-Backdrop.svg");
}
.radio:checked:inconsistent {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial.svg");
}
.radio:checked:inconsistent:backdrop {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial-Backdrop.svg");
}
.radio:insensitive {
  -gtk-icon-source: url("Icons/Radio-Inactive.svg");
}
.radio:insensitive:checked {
  -gtk-icon-source: url("Icons/Radio-Checked-Inactive.svg");
}
.radio:insensitive:inconsistent {
  -gtk-icon-source: url("Icons/Radio-Checked-Partial-Inactive.svg");
}
.entry,
GtkEntry,
GtkEntry.entry {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 2em;
  color: #a2a2a2;
  padding: 0.375em 0.75em 0.375em 0.75em;
  text-shadow: none;
/* IMAGE - Governs any icons that appear inside of a text entry control. */
}
.entry:backdrop,
GtkEntry:backdrop,
GtkEntry.entry:backdrop {
  color: #898989;
}
.entry:selected,
GtkEntry:selected,
GtkEntry.entry:selected {
  background-color: #a2a2a2;
  color: #323232;
}
.entry.progressbar,
GtkEntry.progressbar,
GtkEntry.entry.progressbar {
  background-color: #00c8ff;
}
.entry.progressbar:backdrop,
GtkEntry.progressbar:backdrop,
GtkEntry.entry.progressbar:backdrop {
  background-color: #a2a2a2;
}
.linked .entry:first-child,
.linked GtkEntry:first-child,
.linked GtkEntry.entry:first-child {
  border-radius: 2em 0em 0em 2em;
  padding-right: 0.25em;
}
.linked .entry:last-child,
.linked GtkEntry:last-child,
.linked GtkEntry.entry:last-child {
  border-radius: 0em 2em 2em 0em;
  padding-left: 0.25em;
}
.entry.image.left,
GtkEntry.image.left,
GtkEntry.entry.image.left {
  padding-left: 0em;
  padding-right: 0.25em;
}
.entry.image.right,
GtkEntry.image.right,
GtkEntry.entry.image.right {
  padding-left: 0.25em;
  padding-right: 0em;
}
GtkTextView {
  -GtkTextView-error-underline-color: #f00;
  color: #a2a2a2;
}
GtkTextView:backdrop {
  color: #898989;
}
GtkTextView:selected {
  background-color: #a2a2a2;
  color: #323232;
}
EelEditableLabel,
EelEditableLabel.entry {
  border-radius: 0.25em;
  color: #c8c8c8;
  padding: 0.125em 0.5em 0.125em 0.5em;
}
.menu,
GtkMenu,
GtkMenu.menu {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -GtkMenu-horizontal-offset: -1;
  color: #bbb;
  padding: 0.125em;
}
.menuitem,
GtkImageMenuItem,
.button:checked .menuitem,
.menuitem:hover .menuitem,
.menuitem.button.flat,
.button:checked .menuitem:active,
.menuitem:hover .menuitem:active,
.menuitem.button.flat:active,
.button:checked .menuitem:checked,
.menuitem:hover .menuitem:checked,
.menuitem.button.flat:checked,
.button:checked .menuitem:active:checked,
.menuitem:hover .menuitem:active:checked,
.menuitem.button.flat:active:checked {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -GtkMenuItem-arrow-scaling: 0.6;
  border-radius: 0.25em;
  padding: 1em;
/* ACCELERATOR - Governs the shortcut text found adjacent to certain individual menu items. */
}
.menuitem,
GtkImageMenuItem,
.button:checked .menuitem,
.menuitem:hover .menuitem,
.menuitem.button.flat,
.button:checked .menuitem:active,
.menuitem:hover .menuitem:active,
.menuitem.button.flat:active,
.button:checked .menuitem:checked,
.menuitem:hover .menuitem:checked,
.menuitem.button.flat:checked,
.button:checked .menuitem:active:checked,
.menuitem:hover .menuitem:active:checked,
.menuitem.button.flat:active:checked,
.menuitem .label,
GtkImageMenuItem .label,
.button:checked .menuitem .label,
.menuitem:hover .menuitem .label,
.menuitem.button.flat .label,
.button:checked .menuitem:active .label,
.menuitem:hover .menuitem:active .label,
.menuitem.button.flat:active .label,
.button:checked .menuitem:checked .label,
.menuitem:hover .menuitem:checked .label,
.menuitem.button.flat:checked .label,
.button:checked .menuitem:active:checked .label,
.menuitem:hover .menuitem:active:checked .label,
.menuitem.button.flat:active:checked .label {
  color: #bbb;
}
.menuitem .accelerator,
GtkImageMenuItem .accelerator,
.button:checked .menuitem .accelerator,
.menuitem:hover .menuitem .accelerator,
.menuitem.button.flat .accelerator,
.button:checked .menuitem:active .accelerator,
.menuitem:hover .menuitem:active .accelerator,
.menuitem.button.flat:active .accelerator,
.button:checked .menuitem:checked .accelerator,
.menuitem:hover .menuitem:checked .accelerator,
.menuitem.button.flat:checked .accelerator,
.button:checked .menuitem:active:checked .accelerator,
.menuitem:hover .menuitem:active:checked .accelerator,
.menuitem.button.flat:active:checked .accelerator {
  color: #898989;
}
.menuitem:hover,
GtkImageMenuItem:hover,
.button:checked .menuitem:hover,
.menuitem:hover .menuitem:hover,
.menuitem.button.flat:hover,
.button:checked .menuitem:active:hover,
.menuitem:hover .menuitem:active:hover,
.menuitem.button.flat:active:hover,
.button:checked .menuitem:checked:hover,
.menuitem:hover .menuitem:checked:hover,
.menuitem.button.flat:checked:hover,
.button:checked .menuitem:active:checked:hover,
.menuitem:hover .menuitem:active:checked:hover,
.menuitem.button.flat:active:checked:hover,
.menuitem:prelight,
GtkImageMenuItem:prelight,
.button:checked .menuitem:prelight,
.menuitem:hover .menuitem:prelight,
.menuitem.button.flat:prelight,
.button:checked .menuitem:active:prelight,
.menuitem:hover .menuitem:active:prelight,
.menuitem.button.flat:active:prelight,
.button:checked .menuitem:checked:prelight,
.menuitem:hover .menuitem:checked:prelight,
.menuitem.button.flat:checked:prelight,
.button:checked .menuitem:active:checked:prelight,
.menuitem:hover .menuitem:active:checked:prelight,
.menuitem.button.flat:active:checked:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#49d8ff), to(#008fb6));
}
.menuitem:hover,
GtkImageMenuItem:hover,
.button:checked .menuitem:hover,
.menuitem:hover .menuitem:hover,
.menuitem.button.flat:hover,
.button:checked .menuitem:active:hover,
.menuitem:hover .menuitem:active:hover,
.menuitem.button.flat:active:hover,
.button:checked .menuitem:checked:hover,
.menuitem:hover .menuitem:checked:hover,
.menuitem.button.flat:checked:hover,
.button:checked .menuitem:active:checked:hover,
.menuitem:hover .menuitem:active:checked:hover,
.menuitem.button.flat:active:checked:hover,
.menuitem:prelight,
GtkImageMenuItem:prelight,
.button:checked .menuitem:prelight,
.menuitem:hover .menuitem:prelight,
.menuitem.button.flat:prelight,
.button:checked .menuitem:active:prelight,
.menuitem:hover .menuitem:active:prelight,
.menuitem.button.flat:active:prelight,
.button:checked .menuitem:checked:prelight,
.menuitem:hover .menuitem:checked:prelight,
.menuitem.button.flat:checked:prelight,
.button:checked .menuitem:active:checked:prelight,
.menuitem:hover .menuitem:active:checked:prelight,
.menuitem.button.flat:active:checked:prelight,
.menuitem:hover .accelerator,
GtkImageMenuItem:hover .accelerator,
.button:checked .menuitem:hover .accelerator,
.menuitem:hover .menuitem:hover .accelerator,
.menuitem.button.flat:hover .accelerator,
.button:checked .menuitem:active:hover .accelerator,
.menuitem:hover .menuitem:active:hover .accelerator,
.menuitem.button.flat:active:hover .accelerator,
.button:checked .menuitem:checked:hover .accelerator,
.menuitem:hover .menuitem:checked:hover .accelerator,
.menuitem.button.flat:checked:hover .accelerator,
.button:checked .menuitem:active:checked:hover .accelerator,
.menuitem:hover .menuitem:active:checked:hover .accelerator,
.menuitem.button.flat:active:checked:hover .accelerator,
.menuitem:prelight .accelerator,
GtkImageMenuItem:prelight .accelerator,
.button:checked .menuitem:prelight .accelerator,
.menuitem:hover .menuitem:prelight .accelerator,
.menuitem.button.flat:prelight .accelerator,
.button:checked .menuitem:active:prelight .accelerator,
.menuitem:hover .menuitem:active:prelight .accelerator,
.menuitem.button.flat:active:prelight .accelerator,
.button:checked .menuitem:checked:prelight .accelerator,
.menuitem:hover .menuitem:checked:prelight .accelerator,
.menuitem.button.flat:checked:prelight .accelerator,
.button:checked .menuitem:active:checked:prelight .accelerator,
.menuitem:hover .menuitem:active:checked:prelight .accelerator,
.menuitem.button.flat:active:checked:prelight .accelerator,
.menuitem:hover .label,
GtkImageMenuItem:hover .label,
.button:checked .menuitem:hover .label,
.menuitem:hover .menuitem:hover .label,
.menuitem.button.flat:hover .label,
.button:checked .menuitem:active:hover .label,
.menuitem:hover .menuitem:active:hover .label,
.menuitem.button.flat:active:hover .label,
.button:checked .menuitem:checked:hover .label,
.menuitem:hover .menuitem:checked:hover .label,
.menuitem.button.flat:checked:hover .label,
.button:checked .menuitem:active:checked:hover .label,
.menuitem:hover .menuitem:active:checked:hover .label,
.menuitem.button.flat:active:checked:hover .label,
.menuitem:prelight .label,
GtkImageMenuItem:prelight .label,
.button:checked .menuitem:prelight .label,
.menuitem:hover .menuitem:prelight .label,
.menuitem.button.flat:prelight .label,
.button:checked .menuitem:active:prelight .label,
.menuitem:hover .menuitem:active:prelight .label,
.menuitem.button.flat:active:prelight .label,
.button:checked .menuitem:checked:prelight .label,
.menuitem:hover .menuitem:checked:prelight .label,
.menuitem.button.flat:checked:prelight .label,
.button:checked .menuitem:active:checked:prelight .label,
.menuitem:hover .menuitem:active:checked:prelight .label,
.menuitem.button.flat:active:checked:prelight .label {
  color: #323232;
}
.menuitem:insensitive,
GtkImageMenuItem:insensitive,
.button:checked .menuitem:insensitive,
.menuitem:hover .menuitem:insensitive,
.menuitem.button.flat:insensitive,
.button:checked .menuitem:active:insensitive,
.menuitem:hover .menuitem:active:insensitive,
.menuitem.button.flat:active:insensitive,
.button:checked .menuitem:checked:insensitive,
.menuitem:hover .menuitem:checked:insensitive,
.menuitem.button.flat:checked:insensitive,
.button:checked .menuitem:active:checked:insensitive,
.menuitem:hover .menuitem:active:checked:insensitive,
.menuitem.button.flat:active:checked:insensitive,
.menuitem:insensitive .accelerator,
GtkImageMenuItem:insensitive .accelerator,
.button:checked .menuitem:insensitive .accelerator,
.menuitem:hover .menuitem:insensitive .accelerator,
.menuitem.button.flat:insensitive .accelerator,
.button:checked .menuitem:active:insensitive .accelerator,
.menuitem:hover .menuitem:active:insensitive .accelerator,
.menuitem.button.flat:active:insensitive .accelerator,
.button:checked .menuitem:checked:insensitive .accelerator,
.menuitem:hover .menuitem:checked:insensitive .accelerator,
.menuitem.button.flat:checked:insensitive .accelerator,
.button:checked .menuitem:active:checked:insensitive .accelerator,
.menuitem:hover .menuitem:active:checked:insensitive .accelerator,
.menuitem.button.flat:active:checked:insensitive .accelerator,
.menuitem:insensitive .label,
GtkImageMenuItem:insensitive .label,
.button:checked .menuitem:insensitive .label,
.menuitem:hover .menuitem:insensitive .label,
.menuitem.button.flat:insensitive .label,
.button:checked .menuitem:active:insensitive .label,
.menuitem:hover .menuitem:active:insensitive .label,
.menuitem.button.flat:active:insensitive .label,
.button:checked .menuitem:checked:insensitive .label,
.menuitem:hover .menuitem:checked:insensitive .label,
.menuitem.button.flat:checked:insensitive .label,
.button:checked .menuitem:active:checked:insensitive .label,
.menuitem:hover .menuitem:active:checked:insensitive .label,
.menuitem.button.flat:active:checked:insensitive .label {
  color: #646464;
}
.menubar > .menuitem,
.unity-panel > .menuitem {
  border-radius: 0.125em;
  color: #bbb;
  padding: 0.25em 0.5em;
  text-shadow: none;
}
.menubar > .menuitem:backdrop,
.unity-panel > .menuitem:backdrop {
  color: #898989;
}
.menubar > .menuitem:hover,
.unity-panel > .menuitem:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#c6c6c6), to(#7e7e7e));
  color: #323232;
}
.notebook,
GtkNotebook,
GtkNotebook.notebook {
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-has-tab-gap: false;
  -GtkNotebook-initial-gap: 10;
  -GtkNotebook-tab-overlap: -5;
  -GtkNotebook-tab-fill: true;
  padding-bottom: 0.125em;
  padding-top: 0.25em;
/* HEADER - Governs the area where tabs are located for the notebook. */
/* TAB - Governs the individual tabs for a notebook control.
     *
     *      Official documentation suggests that this class is deprecated, but as far as I can tell there's no other way to
     *      select for these objects.
     *
     *      The transparent border of this class is part of a trick that ends up providing the appearance of a tab glowing
     *      from one of its sides.
     */
}
.notebook.header,
GtkNotebook.header,
GtkNotebook.notebook.header {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.125);
  border-bottom-color: rgba(162,162,162,0.125);
  border-right-color: rgba(162,162,162,0.125);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(24,24,24,0.25);
  box-shadow: inset 0.5px 1px 2px rgba(0,0,0,0.5);
  border-radius: 0.25em;
}
.notebook tab,
GtkNotebook tab,
GtkNotebook.notebook tab {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border: 2px solid transparent;
  padding: 0.75em;
/* ACTIVE - Governs the active tab page for the notebook. */
/* ACTIVE-PAGE - Governs the active tab page for the notebook. */
}
.notebook tab:active.right,
GtkNotebook tab:active.right,
GtkNotebook.notebook tab:active.right,
.notebook tab:active.left,
GtkNotebook tab:active.left,
GtkNotebook.notebook tab:active.left {
  box-shadow: inset -7px 0px 3px -6px #00c8ff, inset -1px 0px 1px #00c8ff;
}
.notebook tab:active.right:backdrop,
GtkNotebook tab:active.right:backdrop,
GtkNotebook.notebook tab:active.right:backdrop,
.notebook tab:active.left:backdrop,
GtkNotebook tab:active.left:backdrop,
GtkNotebook.notebook tab:active.left:backdrop {
  box-shadow: inset -1px 0px 1px #a2a2a2;
}
.notebook tab:active.top,
GtkNotebook tab:active.top,
GtkNotebook.notebook tab:active.top,
.notebook tab:active.bottom,
GtkNotebook tab:active.bottom,
GtkNotebook.notebook tab:active.bottom {
  box-shadow: inset 0px -7px 3px -6px #00c8ff, inset 0px -1px 1px #00c8ff;
}
.notebook tab:active.top:backdrop,
GtkNotebook tab:active.top:backdrop,
GtkNotebook.notebook tab:active.top:backdrop,
.notebook tab:active.bottom:backdrop,
GtkNotebook tab:active.bottom:backdrop,
GtkNotebook.notebook tab:active.bottom:backdrop {
  box-shadow: inset 0px -1px 1px #a2a2a2;
}
.notebook tab .active-page .button,
GtkNotebook tab .active-page .button,
GtkNotebook.notebook tab .active-page .button,
.notebook tab .active-page .button.flat,
GtkNotebook tab .active-page .button.flat,
GtkNotebook.notebook tab .active-page .button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.notebook tab .active-page .button > GtkImage,
GtkNotebook tab .active-page .button > GtkImage,
GtkNotebook.notebook tab .active-page .button > GtkImage,
.notebook tab .active-page .button.flat > GtkImage,
GtkNotebook tab .active-page .button.flat > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat > GtkImage {
  color: #00c8ff;
}
.notebook tab .active-page .button:backdrop > GtkImage,
GtkNotebook tab .active-page .button:backdrop > GtkImage,
GtkNotebook.notebook tab .active-page .button:backdrop > GtkImage,
.notebook tab .active-page .button.flat:backdrop > GtkImage,
GtkNotebook tab .active-page .button.flat:backdrop > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat:backdrop > GtkImage {
  color: #a2a2a2;
}
.notebook tab .active-page .button:hover > GtkImage,
GtkNotebook tab .active-page .button:hover > GtkImage,
GtkNotebook.notebook tab .active-page .button:hover > GtkImage,
.notebook tab .active-page .button.flat:hover > GtkImage,
GtkNotebook tab .active-page .button.flat:hover > GtkImage,
GtkNotebook.notebook tab .active-page .button.flat:hover > GtkImage {
  color: #f00;
}
.notebook tab .active-page GtkLabel,
GtkNotebook tab .active-page GtkLabel,
GtkNotebook.notebook tab .active-page GtkLabel,
.notebook tab GtkLabel.active-page,
GtkNotebook tab GtkLabel.active-page,
GtkNotebook.notebook tab GtkLabel.active-page {
  color: #00c8ff;
  font-weight: bold;
  border-color: #00c8ff;
}
.notebook tab .active-page GtkLabel:backdrop,
GtkNotebook tab .active-page GtkLabel:backdrop,
GtkNotebook.notebook tab .active-page GtkLabel:backdrop,
.notebook tab GtkLabel.active-page:backdrop,
GtkNotebook tab GtkLabel.active-page:backdrop,
GtkNotebook.notebook tab GtkLabel.active-page:backdrop {
  color: #a2a2a2;
  border-color: #a2a2a2;
}
.notebook tab .button,
GtkNotebook tab .button,
GtkNotebook.notebook tab .button,
.notebook tab .button.flat,
GtkNotebook tab .button.flat,
GtkNotebook.notebook tab .button.flat {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 1px;
}
.notebook tab .button > GtkImage,
GtkNotebook tab .button > GtkImage,
GtkNotebook.notebook tab .button > GtkImage,
.notebook tab .button.flat > GtkImage,
GtkNotebook tab .button.flat > GtkImage,
GtkNotebook.notebook tab .button.flat > GtkImage {
  color: #a2a2a2;
}
.notebook tab .button:backdrop > GtkImage,
GtkNotebook tab .button:backdrop > GtkImage,
GtkNotebook.notebook tab .button:backdrop > GtkImage,
.notebook tab .button.flat:backdrop > GtkImage,
GtkNotebook tab .button.flat:backdrop > GtkImage,
GtkNotebook.notebook tab .button.flat:backdrop > GtkImage {
  color: #898989;
}
.notebook tab .button:hover > GtkImage,
GtkNotebook tab .button:hover > GtkImage,
GtkNotebook.notebook tab .button:hover > GtkImage,
.notebook tab .button.flat:hover > GtkImage,
GtkNotebook tab .button.flat:hover > GtkImage,
GtkNotebook.notebook tab .button.flat:hover > GtkImage {
  color: #f00;
}
UnityDecoration {
  -UnityDecoration-extents: 30px 5px 5px 5px;
  -UnityDecoration-input-extents: 10px;
  -UnityDecoration-shadow-offset-x: 2.5px;
  -UnityDecoration-shadow-offset-y: 2.5px;
  -UnityDecoration-active-shadow-color: rgba(0,0,0,0.5);
  -UnityDecoration-active-shadow-radius: 10px;
  -UnityDecoration-inactive-shadow-color: rgba(0,0,0,0.25);
  -UnityDecoration-inactive-shadow-radius: 10px;
  -UnityDecoration-glow-size: 25px;
  -UnityDecoration-glow-color: #00c8ff;
  -UnityDecoration-title-indent: 10px;
  -UnityDecoration-title-fade: 0px;
  -UnityDecoration-title-alignment: 0;
  background-clip: border-box;
  background-color: #4b4b4b;
  background-image: none;
  border: none;
  border-radius: 0em;
  color: #c8c8c8;
}
UnityDecoration:backdrop {
  background-color: #3e3e3e;
  color: #898989;
}
UnityDecoration.bottom {
  border-bottom: 1px solid rgba(36,36,36,0.125);
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0em 0em 0.5em 0.5em;
  border-right: 1px solid rgba(36,36,36,0.125);
}
UnityDecoration.left {
  border-left: 1px solid rgba(198,198,198,0.125);
}
UnityDecoration.right {
  border-right: 1px solid rgba(36,36,36,0.125);
}
UnityDecoration.top {
  border-left: 1px solid rgba(198,198,198,0.125);
  border-radius: 0.5em 0.5em 0em 0em;
  border-right: 1px solid rgba(36,36,36,0.125);
  border-top: 1px solid rgba(198,198,198,0.125);
  padding: 0.5em;
}
UnityDecoration.top .button {
  border: 1px solid #f00;
  background-color: #00f;
  background-image: none;
  color: #0f0;
}
.unity-panel {
  background-color: #252525;
  border: none;
  color: #898989;
}
.unity-panel.panel-title {
  color: transparent;
}
EShellWindow EShellSwitcher GtkEventBox {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#4b4b4b), to(#4b4b4b));
}
EShellWindow EShellSwitcher GtkEventBox:backdrop {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#3e3e3e), to(#3e3e3e));
}
EShellWindow EShellSwitcher GtkScrolledWindow {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}
EPreferencesWindow GtkNotebook > GtkAlignment > GtkScrolledWindow {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
ECanvas.button {
  color: #323232;
}
ECanvas.button:backdrop {
  color: #323232;
}
ECalendar {
  background-image: none;
  background-color: rgba(0,0,0,0.25);
}
ECalendar .button {
  border-radius: 0.125em;
}
ECalendar .button GtkArrow {
  color: #a2a2a2;
}
ECalendar .button:hover GtkArrow {
  color: #323232;
}
TerminalScreen {
  background-color: #252525;
  color: #00c8ff;
}
.nautilus-canvas-item {
  border-radius: 0.5em;
}
.nautilus-canvas-item:active {
  background-color: #9632ff;
}
.nautilus-canvas-item:prelight,
.nautilus-canvas-item:selected {
  background-color: rgba(0,200,255,0.75);
  color: #323232;
}
.nautilus-canvas-item.nautilus-desktop,
.nautilus-canvas-item.nautilus-desktop:backdrop {
  color: #fff;
}
GtkWindow .section-sel-bg.button.flat:checked {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#4b4b4b), to(#4b4b4b));
}
GtkWindow .section-sel-bg.button.flat:checked .symbolic-icon,
GtkWindow .section-sel-bg.button.flat:checked GtkLabel {
  color: #00c8ff;
  font-weight: bold;
}
GtkWindow .section-sel-bg.button.flat:checked:backdrop {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#3e3e3e), to(#3e3e3e));
}
GtkWindow .section-sel-bg.button.flat:checked:backdrop .symbolic-icon,
GtkWindow .section-sel-bg.button.flat:checked:backdrop GtkLabel {
  color: #a2a2a2;
}
