#dash

    background-color:               MenuColor;

    .app-well-app.focused

        > StWidget
            > StBin
                border:                     1px solid transparent;
                border-radius:              0em;
