/* Governs the desktop taskbar that opens the main application menu and holds shortcuts to important programs. */
#dash

    background-color:               MenuColor;

    .app-well-app.focused

        > StWidget
            > StBin
                border:             1px solid transparent;
                border-radius:      0em;

/* Governs the tooltip windows that popup when hovering over a dash icon. */
.dash-label
    background-color:               MenuColor;
    border-bevel:                   2px outset lighten(MenuColor, 5%);
    border-radius:                  0.5em;
    box-shadow:                     1px 1px 3px shadow-color(dark, normal);
    padding:                        0.75em 1em;

/* Governs the array of icons in the main application menu. */
.icon-grid

    .overview-icon,
    StIcon
        icon-shadow:                0px 0px 4px black;
        icon-size:                  1em;

#overview
    background:                     none;

.overview-controls
    flat();

.window-caption
    @extend .dash-label;

.window-picker
    debug();

.window-clone-border
    border:                         2px solid SelectionColor;
    border-radius:                  0.5em;
    box-shadow:                     0px 0px 8px SelectionColor;


.window-close
    image:                          "Icons/Window-Close.svg";
    &:active                        { image: "Icons/Window-Close-Pressed.svg"; }
    &:hover                         { image: "Icons/Window-Close-Hover.svg";}

.workspace-thumbnails
    background-color:               MenuColor;
    border-bevel:                   2px outset lighten(MenuColor, 5%);
    border-radius:                  0.5em;
    box-shadow:                     1px 1px 3px shadow-color(dark, normal);

.workspace-thumbnail-indicator
    border:                         2px solid SelectionColor;
    border-radius:                  0.25em;
    box-shadow:                     0px 0px 4px SelectionColor;
