@import 'Standards/Colors/ColorNames';
@import 'Standards/Colors/UI';
@import 'Standards/UI/Styles';



/* STYLES */
border-bevel(size, direction, color)

    border:                             0px solid color;
    if (direction == outset)
        border-top-width:               size;
        border-left-width:              size;
    else
        border-bottom-width:            size;
        border-right-width:             size;

/// @brief Configures a border image for a HTML element that resembles an inset separation line.
separator(position = bottom)

    if (position == bottom || position == top)  { source = url("Icons/Separator-Horizontal.svg"); }
    else                                        { source = url("Icons/Separator-Vertical.svg"); }

    if (position == bottom)
        size    = 0px 0px 2px 0px;
        slice   = 0 0 2 0;
    else if (position == left)
        size    = 0px 0px 0px 2px;
        slice   = 0 0 0 2;
    else if (position == right)
        size    = 0px 2px 0px 0px;
        slice   = 0 2 0 0;
    else
        size    = 2px 0px 0px 0px;
        slice   = 2 0 0 0;

    border-image:                       source slice / size repeat;
    border-width:                       size;

@import 'Calendar';
@import 'Dash';
@import 'Menus';
@import 'Notifications';
@import 'Panel';
@import 'Switcher';



.tile-preview,
.tile-preview-left,
.tile-preview-left.on-primary

    debug();

StEntry
    deep-inset();
    border-bevel:                       1px inset lighten(MenuColor, 10%);
    border-radius:                      2em;
    padding:                            0.25em 0.5em;

    #overview &
        background-color:               MenuColor;

.slider
    margin:                             0.25em 0em;

.system-menu-action
    background-color:                   InsetColor;
    border:                             none;
    box-shadow:                         inset 1px 2px 3px shadow-color(normal, semifaded);

    &:hover
        background-color:               HighlightColor;
        border:                         none;
