.popup-menu

    flat();

    &.panel-menu

        -boxpointer-gap:            2px;
        padding:                    0px;

        .popup-menu-content
            padding:                4px 2px;

    .popup-menu-content
        background-color:           MenuColor;
        border-bevel:               2px outset lighten(MenuColor, 5%);
        border-radius:              0.5em;
        box-shadow:                 1px 2px 3px shadow-color(dark, normal);
        padding:                    4px;

    .popup-menu-item

        color:                      TextColor;

        &:active,
        &:checked
            shallow-inset();
            background-color:       alpha(HighlightColor, 0.75);
            border:                 none;
            border-radius:          0.125em 0.125em 0em 0em;
            color:                  TextColorSelected;

            &:hover
                border-radius:      0.125em 0.125em 0em 0em;
                color:              TextColor;

        &:hover,
        &.selected
            border:                 none;
            background-color:       alpha(HighlightColor, 0.25);
            border-radius:          0.125em;

    .popup-sub-menu
        background-color:           InsetColor;
        border-bevel:               1px inset lighten(MenuColor, 5%);
        border-radius:              0em 0em 0.125em 0.125em;
        box-shadow:                 inset 1px 1px 3px shadow-color(normal, semifaded);

        .popup-menu-item
            border:                 2px solid transparent;
            &:hover
                border-color:       MenuColor;
                border-radius:      0.125em;
                box-shadow:         none;

.popup-menu-ornament
    height:                         4px;
    width:                          4px;

.popup-menu-boxpointer

    -arrow-background-color:        transparent;
    -arrow-base:                    64px;
    -arrow-border-color:            transparent;
    -arrow-border-radius:           0.375em;
    -arrow-border-with:             0px;
    -arrow-box-shadow:              none;
    -arrow-margin:                  0px;
    -arrow-padding:                 0px;
    -arrow-rise:                    0px;

.popup-separator-menu-item
    background-color:               transparent;
    separator:                      bottom;
    margin:                         0px;

.search-section-separator
    debug();
