
.message-list

    border:                         0px solid darken(MenuColor, 25%);
    border-right-width:             1px;

    .message
        border-radius:              0.125em;
        border:                     1px solid transparent;

        &:hover
            deep-inset();
            background-color:       alpha(HighlightColor, 0.25);
            border-radius:          0.25em;
            box-shadow:             inset 1px 1px 4px shadow-color(normal, normal);
            color:                  TextColorHighlighted;

        StIcon
            icon-size:              2em;
            icon-shadow:            0px 0px 4px shadow-color(dark, normal);

    .message-list-clear-button
        border-radius:              2em;
        background-color:           WindowColorDimmer;
        border-bevel:               1px outset lighten(WindowColorDimmer, 5%);
        box-shadow:                 1px 1px 3px shadow-color(dark, normal);
        margin-bottom:              1em;

        &:hover
            background-color:       WindowColor;

    .message-media-control
        background-color:           WindowColorDimmer;
        border-bevel:               1px outset lighten(WindowColorDimmer, 5%);
        border-radius:              0em;
        box-shadow:                 1px 1px 3px shadow-color(dark, normal);
        margin:                     1em 0em;

        &:first-child
            border-radius:          0.375em 0em 0em 0.375em;
        &:hover
            background-color:       alpha(HighlightColor, 0.25);
            box-shadow:             1px 1px 3px shadow-color(dark, normal);
        &:last-child
            border-radius:          0em 0.375em 0.375em 0em;
            margin-right:           1em;



.modal-dialog,
.notification-banner,
.osd-window
    background-color:               MenuColor;
    border-bevel:                   2px outset lighten(MenuColor, 5%);
    border-radius:                  0.5em;
    box-shadow:                     2px 2px 4px shadow-color(dark, normal);

.modal-dialog
    background-color:               WindowColor;
    border-bevel:                   1px outset lighten(WindowColor, 15%);

.modal-dialog-linked-button
    background-color:               WindowColorLight;
    box-shadow:                     1px 1px 3px shadow-color(dark, normal);
    border-bevel:                   1px outset lighten(WindowColorLight, 15%);
    margin:                         0.5em 0em;

    &:first-child
        border-radius:              0.375em 0em 0em 0.375em;
        margin-left:                1em;
        &:last-child
            border-radius:          0.375em;
    &:hover
        background-color:           HighlightColor;
        color:                      TextColorHighlighted;
    &:last-child
        border-radius:              0em 0.375em 0.375em 0em;
        margin-right:               1em;
