.switcher-arrow

    &:highlighted
        color:                          SelectionColor;

.switcher-list

    background-color:                   MenuColor;
    border-bevel:                       2px outset lighten(MenuColor, 5%);
    border-radius:                      0.5em;
    box-shadow:                         2px 2px 3px shadow-color(dark, normal);

    .item-box,
    .thumbnail-box
        background-color:               transparent;
        border:                         none;

        &:selected
            deep-inset();
            background-color:           HighlightColor;
            color:                      TextColorSelected;

        &:outlined
            deep-inset();
            background-color:           LightGray;
            color:                      TextColor;

        StIcon
            icon-shadow:                0px 0px 5px Black;
