/* CHANGELOG
 * Written by Josh Grooms on 20151206
 */



/* TROUGH - Governs the inset area that appears underneath many bar-like controls. */
trough
    shallow-inset();
    background-image:               none;
    border-radius:                  2em;
    min-height:                     1em;
    min-width:                      1em;

    row:selected:focused
        background-color:           WindowColorDimmer;
        background-image:           none;
        color:                      TextColor;

/* GTKPROGRESSBAR - Governs ordinary vertical and horizontal progress bar controls. */
progressbar

    progress
        border-radius:              2em;
        min-height:                 1em;
        min-width:                  1em;

    &.horizontal progress
        background-image:           ProgressBarGradientVertical;
        &:backdrop
            background-color:       ProgressBarColorDim;
            background-image:       none;

    &.vertical progress
        background-image:           ProgressBarGradientHorizontal;
        &:backdrop
            background-color:       ProgressBarColorDim;
            background-image:       none;

levelbar

    block.empty
        flat();

    block.filled
        border:                     2px solid transparent;

        &.high                      { background-image:       vgradient(NominalColor); }
        &.low                       { background-image:       vgradient(ErrorColor); }
        &.high:backdrop,
        &.low:backdrop
            background-color:       HighlightColor;
            background-image:       none;

    &.continuous
        block.filled
            border-radius:          2em;

    &.discrete block.filled
        &:first-child
            border-radius:          2em 0em 0em 2em;
        &:last-child
            border-radius:          0.25em 2em 2em 0.25em;

toolbar
    &.horizontal
        border-image:               -gtk-scaled(url("Icons/Separator-Horizontal.svg")) 0 0 2 0 / 0px 0px 2px 0px stretch;
    &.vertical
        border-image:               -gtk-scaled(url("Icons/Separator-Vertical.svg")) 0 2 0 0 / 0px 2px 0px 0px stretch;

scale

    padding:                        0.25em 0em;

    &.horizontal, &.vertical
        highlight:backdrop
            background-color:       HighlightColor;
            background-image:       none;
        slider:backdrop
            image:                  "Icons/Slider-Backdrop.svg";

    &.horizontal highlight
        background-image:           SelectionGradientVerticalInverted;
        border-radius:              2em 0em 0em 2em;

        &.bottom
            border-radius:          0em 2em 2em 0em;

    &.vertical highlight
        background-image:           SelectionGradientHorizontalInverted;
        border-radius:              2em 2em 0em 0em;

        &.bottom
            border-radius:          0em 0em 2em 2em;

    slider
        background-color:           transparent;
        background-size:            100% 100%;
        min-width:                  1em;
        min-height:                 1em;
        image:                      "Icons/Slider.svg";

separator
    image:                          "Icons/Separator-Horizontal.svg";
    min-height:                     2px;
    min-width:                      2px;

    &.vertical
        image:                      "Icons/Separator-Vertical.svg";

    menu &
        background-repeat:          repeat-x;
        image:                      "Icons/Separator-Horizontal.svg";
        margin:                     0.25em;

    paned.horizontal > &
        image:                      "Icons/Separator-Vertical.svg";
