/* CELLS - Styles for the elements held within high-level container widgets. */

/* BUTTON-TEXT-COLOR - Sets parameters controlling the color of text and colorized images that are children of buttons.
 *
 *  SYNTAX:
 *      button-text-color:  c
 *
 *  INPUT:
 *      c:      RGBA
 *              The desired color of button text and colorized images.
 */
button-text-color(c)
    color:      c;
    image, label
        color:  c;

.cell,
row
    image
        color:                  SelectionColor;
    &:selected
        // background-color:       SelectionColor;
        background-color:       HighlightColor;
        color:                  TextColorSelected;
        image, label            { color: TextColorSelected; }

        &:backdrop
            background-color:   HighlightColorDim;
            background-image:   none;
            button-text-color:  TextColorHighlighted;

.sidebar row
    flat();
    button-text-color:          TextColor;

    &:backdrop
        button-text-color:      TextColorDim;

    &:selected
        background-color:       SelectionColor;
        button-text-color:      TextColorSelected;

        &:backdrop
            background-color:   HighlightColor;
            button-text-color:  TextColorHighlighted;

    label
        font-weight:            bold;
        padding:                1em;

    .sidebar-button
        flat();

    .sidebar-icon
        padding-left:           0.5em;

FooScrollArea,
GtkDrawingArea
    background-color:           WindowColorDim;
    &:backdrop
        background-color:       WindowColorDimmer;
