/* CONTAINERS - Styles for top-level container widgets used in applications. */



.background,
window
    -GtkWindow-resize-handle:   5;

    background-clip:            border-box;
    background-image:           none;

    .titlebar,
    headerbar
        background-color:       inherit;
        padding:                0.25em 0em;

    &.maximized
        &, .titlebar, headerbar
            background-color:   WindowColor;
            &:backdrop          { background-color: WindowColorDim; }

    &:not(.csd):not(popover):not(.popup)
        background-color:       WindowColor;
        &:backdrop              { background-color: WindowColorDim; }

        .titlebar,
        headerbar
            background-color:   transparent;
            button.titlebutton
                padding:        0.25em 0em;

        > decoration            { background-color: WindowColor; }
        > decoration:backdrop   { background-color: WindowColorDim; }

.dnd
    border:                     2px solid SelectionColor;

/* OVERSHOOT - Governs decorations drawn on the sides of GtkScrolledWindow controls when attempting to scroll too far. */
.overshoot,
.undershoot
    flat();

decoration

    background-color:           WindowColor;
    bevel:                      2px outset semilight;
    border-radius:              0.5em;
    box-shadow:                 0px 0px 0px 1px shadow-color(normal, semitranslucent),
                                5px 5px 7px shadow-color(normal, normal);
    margin:                     10px;
    padding:                    0em 0.25em 0.25em 0.25em;

    &:backdrop
        background-color:       WindowColorDim;

    .maximized > &
        background-color:       WindowColor;
        border-radius:          0px;
        box-shadow:             none;
        margin:                 0px;
        padding:                0px;

    .popup > &
        background-color:       MenuColor;
        background-image:       none;
        padding:                0em;

    .tiled > &
        border-radius:          0px;

    tooltip > &
        background-color:       TooltipColor;
        padding:                0px;

/* RUBBERBAND - Controls the scalable rectangle drawn when selecting multiple icons using the mouse. */
.rubberband,
rubberband
    background-color:           alpha(RubberBandColor, 0.25);
    border:                     1px solid RubberBandBorderColor;

scrolledwindow

    deeper-inset();
    border-radius:              0.25em;
    padding:                    1px;

    .sidebar > &
        flat();
