@import 'Standards/Colors/ColorNames';
@import 'Standards/Colors/UI';
@import 'Standards/UI/Styles';



/** DEFAULTS **/
*,
GtkWidget
    -GtkWidget-background-color:    transparent;
    -GtkWidget-focus-padding:       0;
    -GtkWidget-focus-line-width:    0;
    -GtkWidget-link-color:          LinkColor;
    -GtkWidget-separator-height:    2;
    -GtkWidget-separator-width:     2;
    -GtkWidget-visited-link-color:  LinkColor;
    -GtkWidget-wide-separators:     true;

    background-color:               transparent;
    background-clip:                padding-box;
    background-image:               none;
    border:                         none;
    border-image:                   none;
    border-radius:                  0em;
    box-shadow:                     none;
    color:                          TextColor;
    outline-color:                  transparent;
    outline-offset:                 0px;

    &:backdrop
        color:                      TextColorDim;


@import 'Containers';
@import 'Cells';

@import 'Bars';
@import 'Buttons';
@import 'Controls';
@import 'TextEntry';
@import 'Menus';
@import 'Notebook';
@import 'Unity';

@import 'Minutiae';
