/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */

.menu,
GtkMenu,
GtkMenu.menu
    flat();
    -GtkMenu-horizontal-offset: -1;
    color:      MenuTextColor;
    padding:    0.125em;

.menuitem,
GtkImageMenuItem
    flat();

    -GtkMenuItem-arrow-scaling:     0.6;
    border-radius:                  0.25em;
    padding:                        1em;

    &, .label
        color:                      MenuTextColor;

    /* ACCELERATOR - Governs the shortcut text found adjacent to certain individual menu items. */
    .accelerator
        color:                      MenuAcceleratorColor;

    &:hover, &:prelight
        background-image:           SelectionGradientVertical;
        &, .accelerator, .label
            color:                  TextColorSelected;

    // Governs inactive menu items that cannot be selected.
    &:insensitive
        &, .accelerator, .label
            color:                  TextColorDisabled;

    &.separator
        @extends .separator.horizontal;

// Governs the very first menu items, which is what is displayed on menu bars.
.menubar, .unity-panel
    > .menuitem

        border-radius:              0.125em;
        color:                      MenuTextColor;
        padding:                    0.25em 0.5em;
        text-shadow:                none;

        &:backdrop
            color:                  TextColorDim;
        &:hover
            background-image:       HighlightGradientVertical;
            color:                  TextColorHighlighted;


.button:checked .menuitem,
.menuitem:hover .menuitem,
.menuitem.button.flat
    &, &:active, &:checked, &:active:checked
        @extends .menuitem;
