/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */



menuitem,
popover modelbutton

    flat();
    border-radius:                  0.25em;
    padding:                        0.5em;

    > label
        color:                      MenuTextColor;
        > accelerator
            color:                  MenuAcceleratorColor;

    &:hover
        background-color:           HighlightColor;
        > label,
        > label > accelerator
            color:                  TextColorSelected;

    &:disabled
        > label,
        > label > accelerator
            color:                  TextColorDisabled;

    menubar > &
        border-radius:              0.125em;
        padding:                    0.25em 0.5em;

/* POPUP - Controls the base windows used for context, drop-down, and combo-box menus. */
.popup,
.popup.background,
tooltip,
tooltip.background

    flat();
    color:                          MenuTextColor;

popover,
popover.background

    deep-outset();
    background-color:               MenuColor;
    border-radius:                  0.5em;
