/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */



menuitem,
popover modelbutton

    flat();
    border-radius:                  0.25em;
    padding:                        0.5em;

    > label
        color:                      MenuTextColor;
        > accelerator
            color:                  MenuAcceleratorColor;

    &:hover
        background-image:           SelectionGradientVertical;
        > label,
        > label > accelerator
            color:                  TextColorSelected;

    &:disabled
        > label,
        > label > accelerator
            color:                  TextColorDisabled;

    menubar > &
        border-radius:              0.125em;
        padding:                    0.25em 0.5em;
