/* CHANGELOG
 * Written by Josh Grooms on 20151205
 */


notebook
    -GtkNotebook-arrow-spacing: 5;
    -GtkNotebook-has-tab-gap:   false;
    -GtkNotebook-initial-gap:   10;
    -GtkNotebook-tab-overlap:   -5;
    -GtkNotebook-tab-fill:      true;

    padding-bottom:             0.125em;
    padding-top:                0.25em;

    /* HEADER - Governs the area where tabs are located for the notebook. */
    header
        deep-inset();
        border-radius:          0.125em;

        /* TAB - Governs the individual tabs for a notebook control. */
        tab
            flat();
            border:                 2px solid transparent;
            padding:                0.5em;

            &:checked button,
            &:checked button.flat
                flat();
                > image                     { color: SelectionColor; }
                &:backdrop > image          { color: HighlightColor; }
                &:hover > image             { color: Red; }

            &:checked label
                color:                      SelectionColor;
                border-color:               SelectionColor;
                &:backdrop
                    color:                  HighlightColor;
                    border-color:           HighlightColor;

            button,
            button.flat
                flat();
                padding:                    1px;
                > image                     { color: TextColor; }
                &:backdrop > image          { color: TextColorDim; }
                &:hover > image             { color: Red; }

        &.right, &.left
            tab:checked
                box-shadow:                 inset -7px 0px 3px -6px SelectionColor,
                                            inset -1px 0px 1px SelectionColor;
                &:backdrop
                    box-shadow:             inset -1px 0px 1px HighlightColor;

        &.top, &.bottom
            tab:checked
                box-shadow:                 inset 0px -7px 3px -6px SelectionColor,
                                            inset 0px -1px 1px SelectionColor;
                &:backdrop
                    box-shadow:             inset 0px -1px 1px HighlightColor;
