# ==============================================================================
# CHROMIUM SPECIFIC SETTINGS
# ==============================================================================

style "chromium_toolbar_button"
{
    xthickness = 10
    ythickness = 10

	engine "murrine"
	{
		roundness = 1
		textstyle = 0
	}
}

style "chrome-gtk-frame"
{
  ChromeGtkFrame::frame-color                       = "#4B4B4B"
  ChromeGtkFrame::inactive-frame-color              = "#3E3E3E"

  ChromeGtkFrame::frame-gradient-size               = 2
  ChromeGtkFrame::frame-gradient-color              = "#A2A2A2"

  ChromeGtkFrame::incognito-frame-color             = "#4B4B4B"
  ChromeGtkFrame::incognito-inactive-frame-color    = "#3E3E3E"

  ChromeGtkFrame::incognito-frame-gradient-size     = 2
  ChromeGtkFrame::incognito-frame-gradient-color    = "#A2A2A2"

  ChromeGtkFrame::scrollbar-trough-color            = shade (0.912, @bg_color)
  ChromeGtkFrame::scrollbar-slider-prelight-color   = shade (1.04, @bg_color)
  ChromeGtkFrame::scrollbar-slider-normal-color     = "#00C8FF"
}



class "ChromeGtkFrame" style "chrome-gtk-frame"
widget_class "*Chrom*Button*" style "chromium_toolbar_button"
